section.blog,
section.standdalone,
section.multipurpose {
    margin-bottom: 4rem;
	.content-blog,
	.content-standdalone,
	.content-multipurpose {
		.wrap-topic {
			border-top: none;
	    	margin-top: 0rem;
		    margin-bottom: 0rem;
		}
		.topic {
			.title-topic {
				h3 {
					font-size: 32px;
					padding-right: 1rem;
				}
			}
			padding-top: 0rem;
			&.blog {
				.img-topic {
				    height: 275px;
					overflow: hidden;
					img {
						height: 100%;
						object-fit: cover;
					    margin-top: 7px;
					}
				}
			}
		}
	}
}

.search-result {
	&.search-box {
	    padding: 3rem 3rem 3rem 3rem;
		input[type="text"] {
			font-size: 24px;
		    border-left: transparent;
		    border-right: transparent;
		    border-top: transparent;
		    border-bottom: 1px solid #776e64;
		    @include border-radius(0px);
		    font-weight: 300;
		    @include placeholder {
		    	color: #a4a9a0;
		    }
		}
		.form-control {
	    	padding: 0.5rem 0.1rem;
		}
		.btn-orange {
		    background-color: transparent;
		    border-top: transparent;
		    border-left: transparent;
		    border-right: transparent;
		    border-bottom: 1px solid #776e64;
		    &:hover,
		    &:active,
		    &:focus {
		    	background-color: transparent !important;
		    }
		    i {
	    	    font-size: 24px;
		    	color: #a4a9a0;
		    }
		}
	}
}

section.multipurpose {
	.label-topic {
    	margin-bottom: 25px;
	}
	.badge {
		margin-left: 1rem;
	}
	.content-multipurpose,
	.content-multipurpose-spokeperson,
	.content-multipurpose-spokepeople {
		h1 {
	    	margin-bottom: 20px;
		}
		p {
	    	padding-top: 15px;
		}
		i {
			font-style: italic;
			font-weight: 300;
		}
		.img-multipurpose {
		    float: left;
		    margin-top: 40px;
		    margin-right: 40px;
		    margin-bottom: 10px;
		}
	}
	.content-multipurpose-spokeperson {
		h1 {
			margin-bottom: 0px;
		}
		.media {
	    	margin-top: 50px;
		}
	}
	span.job,
	span.mention,
	span.name {
		font-size: 21px;
		display: block;
	}
	span.job {
		color: #a4a9a0;
	}
	span.mention {
		font-weight: 900;
		color: #ff9e1b;
	}
	.content-multipurpose-spokepeople {
		p {
	    	margin-bottom: 0;
		}
		.featured {
			.content-featured {
				margin-bottom: 20px;
			}
			h2 {
				font-size: 32px;
    			color: #776e64;
		    	margin-bottom: 35px;
			}
			span.job,
			span.name {
				font-size: 14px;
				text-align: center;
			}
			span.name {
				font-weight: 900;
				color: #ff9e1b;
			}
			span.job {
			    font-size: 13px;
				text-transform: uppercase;
			}
		}
		.img-featured {
			margin-bottom: 20px;
		}
		.text-featured {
			margin-bottom: 20px;
		}
	}
}

.separated-manifesto {
	width: 100%;
	height: 1px;
    background-color: rgba(119, 110, 100, 0.30);
	margin-top: 45px;
}

ul.list-stop {
	list-style: none;
	padding-left: 0px;
	li {
    	clear: both;
	    overflow: hidden;
		span {
			float: left;
		    width: 98%;
		}
		&:before {
			content: '-';
			float: left;
			width: 2%;
		}
	}
}