section.approach-orange {
	.content-approach-orange {
		background-color: #ff9e1b;
	    padding-top: 2rem;
        padding-bottom: 4rem;
	    position: relative;
	    top: 8rem;
    	color: #ffffff;
    	h1 {
		    font-size: 31px;
    		color: #ffffff;
    		@media (max-width: 768px) {
    			margin-top: 20px;
    		}
    	}
    	a {
		    margin-top: 20px;
    		display: inline-block;
    		color: #ffffff;
    		&:hover {
    			color: #776e64;
    		}
    	}
	}
}

section.wysiwyg-area {
	a {
		.icon {
			margin-left: 12px;
		}
		&:hover {
			i {
				margin-left: 20px;
			}
		}
	}
	.content-wysiwyg-area {
		margin-top: 4rem;
	}
	.wrap-topic {
		border-top: none;
    	margin-top: 0rem;
	    margin-bottom: 0rem;
	}
	.topic {
		padding-top: 0rem;
		@media (max-width: 768px) {
	    	margin-bottom: 30px;
		}
		&.blog {
			margin-bottom: 70px;
		}
	}
	.related-topic {
		margin-top: 4rem;
		.top-topic {
			h5 {
				font-size: 14px;
				text-transform: uppercase;
			    margin-bottom: 36px;
			}
		}
		.link-topic {
			margin-top: 50px;
		}
	}
}

section.media {
	&.campaign {
		margin-top: 0rem;
		h1 {
			font-size: 32px;
			color: #ff9e1b;
		}
	}
}

.separated-wysiwyg-area {
	width: 100%;
	height: 1px;
	background-color: #a4a9a0;
	margin-top: 45px;
	&.media {
		margin-top: 0px;
		margin-bottom: 65px;
	}
}

section.featured-resource {
	&.campaign {
		@media (max-width: 768px) {
			margin-bottom: 3rem;
		}
		.content-featured-resource {
			&.desc {
				padding-right: 3rem;
				padding-top: 0rem;
				h1 {
					@media (max-width: 768px) {
						 margin-top: 30px;
					}
				}
			}
		}
		.img-featured-resource-small {
			img {
				height: 203px;
				object-fit: cover;
			}
		}
		h4 {
		    margin-top: 16px;
		    font-size: 18px;
		    color: #ff9e1b;
		    line-height: 26px;
		}
	}
}