.responsive-take-action {
	.caption-banner {
		padding: 14px;
		@media (max-width: 768px) {
	    	margin-left: 20px;
		}
		span {
			font-size: 32px;
			@media (max-width: 768px) {
				font-size: 18px;
			}
			@media (min-width: 768px) {
			    font-size: 22px;
			}
			@media (min-width: 1024px) {
				font-size: 22px;
			}
			@media (min-width: 1200px) {
			    font-size: 24px;
			}
			@media (min-width: 1440px) {
				font-size: 32px;
			}
		}
	}
	.slick-next {
		@media (min-width: 768px) {
		    top: 35%;
			right: -55px;
		}
	}
	.slick-prev {
		@media (min-width: 768px) {
		    top: 35%;
			left: -55px;
		}
	}
}

section.community {
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 292px;
		background: url("../images/perspective-top-2.png") no-repeat;
		background-size: cover;
	    margin-top: -140px;
	}
	@media (max-width: 768px) {
	    margin-top: 30px;
	}
	@media (min-width: 768px) {
	    margin-top: 20px;
	}
	@media (min-width: 1024px) {
    	margin-top: -56px;
	}
}

section.community,
section.give {
	background: #ffffff;
    position: relative;
    z-index: 2;
    .content-community {
	    padding-top: 3rem;
	    padding-bottom: 2rem;
	    @media (max-width: 768px) {
	    	padding-top: 0rem;
	    }
    }
	.content-community,
	.content-give {
		h1 {
			font-size: 46px;
			@media (max-width: 768px) {
				font-size: 28px;
			}
			@media (min-width: 768px) {
				font-size: 34px;
			}
			@media (min-width: 1200px) {
				font-size: 46px;
			}
		}
	}
	.content-join-action {
		span.top {
			top: -23px;
		    position: relative;
		    z-index: 1;
		}
		&.action-league {
			text-align: center;
			@media (min-width: 768px) {
		    	margin: 10px 0px 50px 0px;
			}
			@media (min-width: 1200px) {
				margin: 0px 0px 0px 0px;
			}
			h1 {
				font-size: 28px;
				color: #ff9e1b;
				@media (max-width: 768px) {
			    	font-size: 20px;
				}
				@media (min-width: 768px) {
			 		font-size: 26px;
				}
				@media (min-width: 1200px) {
					font-size: 28px;
				}
			}
			span.subtitle {
				font-size: 16px;
			}
			&:before {
				min-width: 280px;
		    	top: 4px;
		    	@media (max-width: 768px) {
	    		    min-width: 240px;
    				top: 90px;
		    	}
		    	@media only screen 
				and (min-device-width : 375px) 
				and (max-device-width : 667px) 
				and (orientation : portrait) {
				    min-width: 294px;
				}
				@media only screen 
				and (min-device-width : 375px) 
				and (max-device-width : 667px) 
				and (orientation : landscape) {
				    min-width: 445px;
				}
				@media only screen 
				and (min-device-width : 414px) 
				and (max-device-width : 736px) 
				and (orientation : landscape) {
					min-width: 445px;
				}
		    	@media (min-width: 768px) {
		    		top: 40px;
		    	}
		    	@media (min-width: 800px) {
		    		top: 13px;
		    	}
		    	@media (min-width: 1024px) {
    		    	min-width: 240px;
    		    	top: 15px;
		    	}
		    	@media (min-width: 1200px) {
		    		top: 4px;
		    	}
			}
			&:after {
				min-width: 280px;
		    	bottom: -44px;
		    	@media (max-width: 768px) {
		    		 min-width: 240px;
		    		 bottom: 15px;
		    	}
		    	@media only screen 
				and (min-device-width : 375px) 
				and (max-device-width : 667px) 
				and (orientation : portrait) {
				    min-width: 294px;
				}
				@media only screen 
				and (min-device-width : 375px) 
				and (max-device-width : 667px) 
				and (orientation : landscape) {
				    min-width: 445px;
				}
				@media only screen 
				and (min-device-width : 414px) 
				and (max-device-width : 736px) 
				and (orientation : landscape) {
					min-width: 445px;
				}
		    	@media (min-width: 768px) {
	    		    bottom: 56px;
		    	}
		    	@media (min-width: 800px) {
		    		bottom: 10px;
		    	}
		    	@media (min-width: 1024px) {
    		    	min-width: 240px;
		    		bottom: 6px;
		    	}
		    	@media (min-width: 1200px) {
		    		bottom: -44px;
		    	}
			}
		}
	}
	.icon {
		width: 45px;
		height: 45px;
		display: block;
		margin: 0 auto;
		&.add {
			background: url("../images/add-icon.png") no-repeat;
			background-size: contain;
		}
		&.arrow-top-bottom {
			background: url("../images/arrow-top-bottom-icon.png") no-repeat;
			background-size: contain;
		}
		&.hand {
			background: url("../images/hand-icon.png") no-repeat;
			background-size: contain;
		}
	}
}

section.give {
	padding-top: 4rem;
	.content-give {
		margin-bottom: 40px;
		padding-bottom: 0rem;
	}
	.list-give-colour {
		background-color: #64ccc9;
	    padding: 20px;
	    margin-bottom: 1.6rem;
	    &:last-child {
	    	margin-bottom: 4rem;
	    }
		h3,
		p {
			color: #ffffff;
			margin-bottom: 0px;
		}
		h3 {
			font-size: 24px;
		}
	}
}