@import 'mixins.scss';

.wrap-banner {
    max-height: 1050px;
	position: relative;
	overflow: hidden;
	@media (max-width: 768px) {
    	min-height: 500px;
	}
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : portrait) {
    	min-height: 640px;
	}
	.banner {
		img {
			width: 100%;
			@media (max-width: 768px) { 
		    	height: 500px;
		    	object-fit: cover;
			}
			@media only screen 
			and (min-device-width : 768px) 
			and (max-device-width : 1024px) 
			and (orientation : portrait) {
    	    	height: 730px;
    	    	object-fit: cover;
			}
		}
		&.home,
		&.get-involved {
			img {
				@media (min-width: 768px) {
					height: auto;
				}
			}
		}
		&.campaign {
			overflow: inherit;
			img {
				@media (max-width: 768px) {
					min-height: 700px;
				}
			}
		}
	}
	&.campaign,
	&.what-we-do,
	&.who-we-are,
	&.home {
		overflow: inherit;
		max-height: inherit;
	}

}

.wrap-caption-banner {
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: 1;
    top: 50%;
    @media (max-width: 768px) {
    	transform: translate(0%, -120%);
    }
    @media only screen 
	and (min-device-width : 414px) 
	and (max-device-width : 736px) 
	and (orientation : portrait) { 
		 transform: translate(0%, -130%);
	}
    @media (min-width: 768px) {
    	transform: translate(0%, -140%);
    }
    @media (min-width: 1200px) {
	    transform: translate(0%, 0%);
    }
	&.what-we-do,
	&.who-are-we,
	&.campaign {
		@media (min-width: 768px) {
    		transform: translate(0%, -70%);
    	}
    	@media (min-width: 1024px) {
    		transform: translate(0%, -70%);
    	}
    	@media (min-width: 1200px) {
    		transform: translate(0%, -160%);
    	}
	}
	&.campaign {
		@media (max-width: 768px) {
		    transform: translate(0%, -240%);
		}
		@media (min-width: 768px) {
			transform: translate(0%, -128%);
		}
	}
	&.get-involved {
		@media (min-width: 768px) {
			transform: translate(0%, -180%);
		}
		@media (min-width: 1024px) {
	    	transform: translate(0%, -256%);
		}
		@media (min-width: 1200px) {
			transform: translate(0%, -320%);
		}
    	@media (min-width: 1280px) {
	    	transform: translate(0%, -360%);
    	}
    	@media (min-width: 1440px) {
    	    transform: translate(0%, -290%);
    	}
    	@media (min-width: 1600px) {
    		transform: translate(0%, -260%);
    	}
		h2 {
			color: #ffffff;
		}
	}
    .container-fluid {
		padding-right: 120px;
		padding-left: 120px;
		@media (max-width: 768px) {
		    padding-right: 18px;
    		padding-left: 18px;
		}
		@media (min-width: 800px) {
		    padding-right: 60px;
    		padding-left: 60px;
		}
		@media only screen 
		and (min-device-width : 768px) 
		and (max-device-width : 1024px) 
		and (orientation : portrait) {
    	    padding-right: 60px;
    		padding-left: 60px;
		}
		@media only screen 
		and (min-device-width : 768px) 
		and (max-device-width : 1024px) 
		and (orientation : landscape) {
       		padding-right: 80px;
			padding-left: 80px;
		}
		@media (min-width: 1200px) {
			padding-right: 120px;
			padding-left: 120px;
		}
    }
    .caption-banner {
	    margin-bottom: 30px;
    	@media (max-width: 768px) {
	    	margin-top: 0rem;
    	}
    	@media (min-width: 768px) {
		    margin-top: 1rem;
    	}
    	&.transform-deg {
	    	transform: rotate(-4deg);
    	}
    	span {
    		font-weight: 900;
    		display: inline-block;
    		background-color: #ffffff;
    		color: #ff9e1b;
	        padding: 6px 15px 6px 15px;
    		margin-bottom: 3px;
    		@media (max-width: 768px) {
			    font-size: 18px;
    			padding: 6px 17px 6px 17px;
    		}
    		@media (min-width: 800px) {
		    	font-size: 28px;
    		}
    		@media only screen 
			and (min-device-width : 768px) 
			and (max-device-width : 1024px) 
			and (orientation : portrait) {
		    	font-size: 28px;
			}
			@media (min-width: 1200px) {
    			font-size: 42px;
			}
    	}
		.orange {
			background-color: #ff9e1b;
			color: #ffffff;
			&.link {
			    padding: 0px 15px 14px 15px;
				line-height: 1; 
				@include transition(all 0.35s);
				a {
					font-size: 17.67px;
					text-decoration: none;
					color: #ffffff;
				}
				&:hover {
					background-color: #776e64;
				}
				@media (max-width: 768px) {
				    padding-top: 12px;
				}
				@media (min-width: 1024px) {
					padding-top: 10px;
				}
				@media (min-width: 1200px) {
			       padding-top: 0px;
				}
			}
		}
		p {
			font-size: 18px;
		    padding-right: 50px;
			color: #ffffff;
			@media (max-width: 768px) {
		    	font-size: 12px;
	    	    padding-right: 18px;
	    	    padding-left: 7px;
			}
			@media only screen 
			and (min-device-width : 768px) 
			and (max-device-width : 1024px) 
			and (orientation : portrait) { 
		       	padding-right: 10px;
    			padding-left: 0px;
			}
			@media only screen 
			and (min-device-width : 768px) 
			and (max-device-width : 1024px) 
			and (orientation : landscape) {
				padding-right: 0px;
			}
		}
		a {
			font-size: 14px;
			@media (max-width: 768px) {
		    	font-size: 12px;
			}
			i {
		    	margin-left: 8px;
			}
			&:hover {
				color: #ffffff;
			    .icon {
		    		&.arrow-right-orange {
		    			@include transition(all 0.35s);
		    			margin-left: 20px;
		    		}
	    	    }
			}

		}
		&.what-we-do,
		&.who-we-are,
		&.campaign,
		&.get-involved {
			h1,
			p {
				color: #ffffff
			}
			h1 {
				@media (min-width: 768px) {
					font-size: 36px;
				}
				@media (min-width: 1200px) {
					font-size: 60px;
				}
			}
			p {
				@media (min-width: 768px) {
					font-size: 18px;
					padding-right: 4rem;
				}
				@media (min-width: 1200px) {
					font-size: 30px;
					padding-right: 11rem;
				}
			}
			ul {
			    border-left: 1px solid #ffffff;
			    @media (min-width: 768px) {
			    	line-height: 30px;
				    padding-top: 4px;
				    padding-bottom: 4px;
				    margin-top: 3px;
			    }
			    @media (min-width: 1200px) {
				    line-height: 36px;
				    padding-top: 20px;
				    padding-bottom: 20px;
				    margin-top: 76px;
			    }
			    a {
			    	font-size: 18px;
			    	text-transform: none;
			    }
			}
		}
		&.who-we-are {
			h1 {
				margin-bottom: 2rem;
			}
			p {
				@media (min-width: 1280px) {
			    	padding-right: 3rem;
				}
			}
		}
		&.campaign {
			.sub-title-caption {
				font-size: 32px;
			    color: #ffffff;
			    margin-bottom: 15px;
			    @media (max-width: 768px) {
		    	    font-size: 24px;
			    }
		    	@media (min-width: 768px) {
    		    	font-size: 24px;
		    	}
		    	@media (min-width: 1200px) {
		    		font-size: 32px;
		    	}
			}
			p {
		    	font-size: 18px;
		    	@media (max-width: 768px) {
    		    	font-size: 14px;
    		    	padding-right: 0rem;
	    		    padding-left: 0rem;
		    	}
		    	@media (min-width: 768px) { 
		    		font-size: 14px;
	    		    padding-right: 0rem;
	    		    padding-left: 0rem;
		    	}
		    	@media (min-width: 1200px) { 
		    		font-size: 18px;
	    		    padding-right: 50px;
		    	}
			}
		}
    }
}

.bottom-shadow {
	background: url("../images/bottom-shadow.png") no-repeat;
	width: 100%;
	height: 550px;
    position: absolute;
    bottom: 0;
    background-size: cover;
    &.what-we-do,
    &.who-we-are,
    &.campaign,
    &.get-involved {
	    background-color: rgba(0, 0, 0, 0.01);
   	 	height: 100%;
    }
    &.who-we-are {
    	@media (max-width: 768px) {
    		bottom: 17px;
    	}
    }
}

.perspective-white {
	width: 100%;
    background: url("../images/perspective-top-2.png") no-repeat;
    height: 281px;
    position: absolute;
    background-size: cover;
    @media (max-width: 768px) {
    	bottom: -150px;
    }
    @media (min-width: 768px) {
    	bottom: -185px;
    }
    @media (min-width: 1280px) {
    	bottom: -180px;
    }
    @media (min-width: 1440px) {
    	bottom: -160px;
    }
    &.who-we-are {
    	bottom: -180px;
    }
    &.get-involved {
    	bottom: -70px;
    	@media (max-width: 768px) {
	    	bottom: -184px;
    	}
    	@media (min-width: 768px) {
	    	bottom: -156px;
    	}
    	@media (min-width: 1024px) {
    		bottom: -66px;
    	}
    }
}

.banner-full-height {
    margin-top: 5em;
    @media (max-width: 768px) {
    	margin-top: 4em;
    }
    .container-fluid {
	    padding-right: 120px;
    	padding-left: 120px;
		@media (max-width: 768px) {
		    padding-right: 18px;
    		padding-left: 18px;
		}
		@media (min-width: 800px) {
		    padding-right: 60px;
    		padding-left: 60px;
		}
		@media only screen 
		and (min-device-width : 768px) 
		and (max-device-width : 1024px) 
		and (orientation : portrait) {
    	    padding-right: 60px;
    		padding-left: 60px;
		}
		@media only screen 
		and (min-device-width : 768px) 
		and (max-device-width : 1024px) 
		and (orientation : landscape) {
       		padding-right: 80px;
			padding-left: 80px;
		}
		@media (min-width: 1200px) {
			padding-right: 120px;
			padding-left: 120px;
		}
    }
    .transform-deg {
    	transform: rotate(-4deg);
    	@media (max-width: 768px) {
	    	padding-top: 34px;
    	}
    }
    .inner-banner-full-height {
    	padding-top: 3em;
    	padding-bottom: 6em;
    	color: #ffffff;
    	position: relative;
    	z-index: 1;
		a {
			font-size: 14px;
			@media (max-width: 768px) {
		    	font-size: 12px;
			}
			i {
		    	margin-left: 8px;
			}
			&:hover {
				color: #ffffff;
			}
		}
    	h1 {
		    font-size: 60px;
    		color: #ffffff;
    		@media (max-width: 768px) {
		    	font-size: 36px;
    		}
    	}
    	&.what-we-do,
    	&.who-we-are {
		    padding-bottom: 10em;
		    padding-top: 6em;
		    @media (max-width: 768px) {
    	    	padding-bottom: 4em;
		    }
    		p {
    			font-size: 32px;
    			@media (max-width: 768px) {
			    	font-size: 18px;
    			}
    		}
			ul {
			    border-left: 1px solid #ffffff;
			    list-style: none;
			    @media (min-width: 768px) {
			    	line-height: 30px;
				    padding-top: 4px;
				    padding-bottom: 4px;
				    margin-top: 3px;
			    }
			    @media (min-width: 1200px) {
				    line-height: 36px;
				    padding-top: 20px;
				    padding-bottom: 20px;
				    margin-top: 76px;
			    }
			    a {
			    	font-size: 18px;
			    	text-transform: none;
			    	text-decoration: none;
			    	&:hover,
			    	&:focus,
			    	&:active {
			    		color: #ffffff;
			    	}
			    }
			}
    	}
    	&.campaign {
			.sub-title-caption {
				font-size: 32px;
			    color: #ffffff;
			    margin-bottom: 15px;
			    @media (max-width: 768px) {
		    	    font-size: 24px;
			    }
		    	@media (min-width: 768px) {
    		    	font-size: 24px;
		    	}
		    	@media (min-width: 1200px) {
		    		font-size: 32px;
		    	}
			}
			p {
		    	font-size: 18px;
		    	@media (max-width: 768px) {
    		    	font-size: 14px;
    		    	padding-right: 0rem;
	    		    padding-left: 0rem;
		    	}
		    	@media (min-width: 768px) { 
		    		font-size: 14px;
	    		    padding-right: 0rem;
	    		    padding-left: 0rem;
		    	}
		    	@media (min-width: 1200px) { 
		    		font-size: 18px;
	    		    padding-right: 50px;
		    	}
			}
		}
		&.get-involved {
		    padding-top: 6em;
		    padding-bottom: 14em;
		    @media (max-width: 768px) {
			    padding-top: 4em;
			    padding-bottom: 3em;
		    }
			p,
			h2 {
				font-size: 32px;
			}
			p {
				@media (max-width: 768px) {
					font-size: 18px;
				}
			}
			h2 {
				color: #ffffff;
			    margin-top: 28px;
    			margin-bottom: 22px;
			}
		}
		&.home {
		    padding-top: 30em;
    		padding-bottom: 12em;
    		@media (max-width: 768px) {
			    padding-top: 14em;
			    padding-bottom: 4em;
    		}
    		p {
    			font-size: 18px;
    			@media (max-width: 768px) {
			    	padding-top: 2rem;
    			}
    		}
		}
    }
    .caption-banner {
   		span {
		    font-size: 42px;
			font-weight: 900;
		    display: inline-block;
		    background-color: #ffffff;
		    color: #ff9e1b;
		    padding: 6px 15px 6px 15px;
		    margin-bottom: 3px;
		    @media (max-width: 768px) {
    	    	font-size: 24px;
		    }
	   	}
	   	span.orange {
	    	background-color: #ff9e1b;
	    	color: #ffffff;
	    }
    }
	.orange {
		color: #ffffff;
		&.link {
			background-color: #ff9e1b;
		    padding: 0px 15px 14px 15px;
			line-height: 1; 
			@include transition(all 0.35s);
			a {
				font-size: 17.67px;
				text-decoration: none;
				color: #ffffff;
			}
			&:hover {
				background-color: #776e64;
			}
			@media (max-width: 768px) {
			    padding-top: 12px;
			}
			@media (min-width: 1024px) {
				padding-top: 10px;
			}
			@media (min-width: 1200px) {
		       padding-top: 0px;
			}
		}
	}
    .img-banner {
    	img {
    		min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			position: absolute;
			object-fit: cover;
    	}
    }
}

