.btn-blue {
  background-color: #64ccc9;
  border-color: #64ccc9;
  color: #ffffff !important;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  font-weight: 900;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }
  .btn-blue:hover, .btn-blue:active, .btn-blue:focus {
    background-color: #57b1ae !important;
    border-color: #57b1ae !important;
    color: #ffffff !important; }

.btn-orange {
  background-color: #ff9e1b;
  border-color: #ff9e1b;
  color: #ffffff !important;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  font-weight: 900;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }
  .btn-orange:hover, .btn-orange:active, .btn-orange:focus {
    background-color: #776e64 !important;
    border-color: #776e64 !important;
    color: #ffffff !important; }

.btn-black {
  background-color: #776e64;
  border-color: #776e64;
  color: #ffffff !important;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  font-weight: 900;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }
  .btn-black:hover, .btn-black:active, .btn-black:focus {
    background-color: #514b44 !important;
    border-color: #514b44 !important;
    color: #ffffff !important; }

.badge-dark-blue {
  font-size: 14px;
  padding: 7px 10px 4px 10px;
  background-color: #878cb4;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }
  .badge-dark-blue:hover {
    background-color: #6a6e8d; }

.wrap-vertical-align {
  display: table;
  width: 100%;
  height: 100%; }
  .wrap-vertical-align .vertical-align {
    display: table-cell;
    width: 100%;
    height: 100%; }

.vertical-align.middle {
  text-align: center;
  vertical-align: middle; }

.no-pad-right {
  padding-right: 0px; }

.no-pad-left {
  padding-left: 0px; }

.multiply-orange {
  background-color: #ff9e1b;
  background-blend-mode: multiply; }

input[type="text"],
input[type="email"],
input[type="number"],
textarea.form-control {
  border: 1px solid #979797; }

.icon {
  width: 12px;
  height: 10px;
  display: inline-block; }
  .icon.arrow-right-orange {
    background: url("../images/icon-arrow-right-orange.png") no-repeat;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    transition: all 0.35s; }
  .icon.arrow-right-white {
    background: url("../images/icon-arrow-right-white.png") no-repeat;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    transition: all 0.35s; }
  .icon.arrow-down-orange {
    background: url("../images/icon-arrow-down-orange.png") no-repeat;
    height: 12px;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    transition: all 0.35s; }
  .icon.retweet {
    background: url("../images/icon-retweet.png") no-repeat;
    width: 20px;
    height: 13px;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    transition: all 0.35s; }
  .icon.thumb-down {
    background: url("../images/icon-thum-down.png") no-repeat;
    width: 37px;
    height: 30px; }

.wrap-search {
  margin-top: 4rem; }
  .wrap-search .search {
    background-color: #878cb4;
    padding: 1.3rem 0rem 1.3rem 0rem; }
    @media (max-width: 768px) {
      .wrap-search .search .nav {
        display: block; } }
    .wrap-search .search .nav .nav-link {
      padding: 0.3em 1em;
      border: 1px solid transparent; }
      .wrap-search .search .nav .nav-link:hover, .wrap-search .search .nav .nav-link:focus, .wrap-search .search .nav .nav-link:active {
        background-color: rgba(255, 255, 255, 0.28);
        border: 1px solid #ffffff; }
    .wrap-search .search .nav .active {
      background-color: rgba(255, 255, 255, 0.28);
      border: 1px solid #ffffff; }
    .wrap-search .search .nav span {
      text-transform: uppercase !important;
      line-height: 30px; }
    .wrap-search .search .nav li > a,
    .wrap-search .search .nav span {
      font-size: 14px;
      text-transform: none;
      color: #ffffff; }
    .wrap-search .search .nav li {
      margin-right: 24px; }
      @media (max-width: 768px) {
        .wrap-search .search .nav li {
          margin-right: 10px;
          margin-left: 10px; } }
      .wrap-search .search .nav li:last-child {
        margin-right: 0px; }
  .wrap-search .search-result {
    border-left: 1px solid #d6d3d0;
    border-right: 1px solid #d6d3d0;
    border-bottom: 1px solid #d6d3d0;
    padding: 3rem 1rem 3rem 1rem; }
    @media (max-width: 768px) {
      .wrap-search .search-result {
        padding: 1rem 0rem 1rem 0rem; } }
    @media (max-width: 768px) {
      .wrap-search .search-result .nav {
        display: block; } }
    .wrap-search .search-result .nav li {
      margin-right: 40px; }
      @media (max-width: 768px) {
        .wrap-search .search-result .nav li {
          margin-right: 10px;
          margin-left: 10px; } }
      .wrap-search .search-result .nav li:last-child {
        margin-right: 0px; }
    @media (max-width: 768px) {
      .wrap-search .search-result.img {
        overflow: hidden; } }
    .wrap-search .search-result.img .nav li {
      margin-right: 18px; }
      @media (max-width: 768px) {
        .wrap-search .search-result.img .nav li {
          overflow: hidden;
          margin-bottom: 20px; } }
      @media (min-width: 1024px) {
        .wrap-search .search-result.img .nav li {
          margin-right: 60px; } }
      @media (min-width: 1200px) {
        .wrap-search .search-result.img .nav li {
          margin-right: 38px; } }
      .wrap-search .search-result.img .nav li:last-child {
        margin-right: 0px; }
    .wrap-search .search-result.img span.img,
    .wrap-search .search-result.img span.name {
      float: left; }
      @media (min-width: 1024px) {
        .wrap-search .search-result.img span.img,
        .wrap-search .search-result.img span.name {
          float: none; } }
      @media (min-width: 1200px) {
        .wrap-search .search-result.img span.img,
        .wrap-search .search-result.img span.name {
          float: left; } }
    .wrap-search .search-result.img span.img {
      width: 70px;
      height: 70px;
      overflow: hidden;
      display: inline-block;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
      @media (min-width: 1024px) {
        .wrap-search .search-result.img span.img {
          text-align: center;
          display: block;
          margin: 0 auto; } }
      .wrap-search .search-result.img span.img img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
    .wrap-search .search-result.img span.name {
      line-height: 70px;
      display: inline-block;
      margin-left: 18px; }
      @media (min-width: 1024px) {
        .wrap-search .search-result.img span.name {
          text-align: center;
          margin-left: 0px;
          display: block; } }
      @media (min-width: 1200px) {
        .wrap-search .search-result.img span.name {
          margin-left: 11px; } }

.author {
  font-size: 14px;
  color: #776e64; }

.wrap-banner {
  max-height: 1050px;
  position: relative;
  overflow: hidden; }
  @media (max-width: 768px) {
    .wrap-banner {
      min-height: 500px; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .wrap-banner {
      min-height: 640px; } }
  .wrap-banner .banner img {
    width: 100%; }
    @media (max-width: 768px) {
      .wrap-banner .banner img {
        height: 500px;
        -o-object-fit: cover;
        object-fit: cover; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      .wrap-banner .banner img {
        height: 730px;
        -o-object-fit: cover;
        object-fit: cover; } }
  @media (min-width: 768px) {
    .wrap-banner .banner.home img, .wrap-banner .banner.get-involved img {
      height: auto; } }
  .wrap-banner .banner.campaign {
    overflow: inherit; }
    @media (max-width: 768px) {
      .wrap-banner .banner.campaign img {
        min-height: 700px; } }
  .wrap-banner.campaign {
    overflow: inherit;
    max-height: inherit; }

.wrap-caption-banner {
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 1;
  top: 50%; }
  @media (max-width: 768px) {
    .wrap-caption-banner {
      -webkit-transform: translate(0%, -120%);
      -ms-transform: translate(0%, -120%);
      transform: translate(0%, -120%); } }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
    .wrap-caption-banner {
      -webkit-transform: translate(0%, -130%);
      -ms-transform: translate(0%, -130%);
      transform: translate(0%, -130%); } }
  @media (min-width: 768px) {
    .wrap-caption-banner {
      -webkit-transform: translate(0%, -140%);
      -ms-transform: translate(0%, -140%);
      transform: translate(0%, -140%); } }
  @media (min-width: 1200px) {
    .wrap-caption-banner {
      -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
      transform: translate(0%, 0%); } }
  @media (min-width: 768px) {
    .wrap-caption-banner.what-we-do, .wrap-caption-banner.who-are-we, .wrap-caption-banner.campaign {
      -webkit-transform: translate(0%, -70%);
      -ms-transform: translate(0%, -70%);
      transform: translate(0%, -70%); } }
  @media (min-width: 1024px) {
    .wrap-caption-banner.what-we-do, .wrap-caption-banner.who-are-we, .wrap-caption-banner.campaign {
      -webkit-transform: translate(0%, -70%);
      -ms-transform: translate(0%, -70%);
      transform: translate(0%, -70%); } }
  @media (min-width: 1200px) {
    .wrap-caption-banner.what-we-do, .wrap-caption-banner.who-are-we, .wrap-caption-banner.campaign {
      -webkit-transform: translate(0%, -160%);
      -ms-transform: translate(0%, -160%);
      transform: translate(0%, -160%); } }
  @media (max-width: 768px) {
    .wrap-caption-banner.campaign {
      -webkit-transform: translate(0%, -240%);
      -ms-transform: translate(0%, -240%);
      transform: translate(0%, -240%); } }
  @media (min-width: 768px) {
    .wrap-caption-banner.campaign {
      -webkit-transform: translate(0%, -128%);
      -ms-transform: translate(0%, -128%);
      transform: translate(0%, -128%); } }
  @media (min-width: 768px) {
    .wrap-caption-banner.get-involved {
      -webkit-transform: translate(0%, -180%);
      -ms-transform: translate(0%, -180%);
      transform: translate(0%, -180%); } }
  @media (min-width: 1024px) {
    .wrap-caption-banner.get-involved {
      -webkit-transform: translate(0%, -256%);
      -ms-transform: translate(0%, -256%);
      transform: translate(0%, -256%); } }
  @media (min-width: 1200px) {
    .wrap-caption-banner.get-involved {
      -webkit-transform: translate(0%, -320%);
      -ms-transform: translate(0%, -320%);
      transform: translate(0%, -320%); } }
  @media (min-width: 1280px) {
    .wrap-caption-banner.get-involved {
      -webkit-transform: translate(0%, -360%);
      -ms-transform: translate(0%, -360%);
      transform: translate(0%, -360%); } }
  @media (min-width: 1440px) {
    .wrap-caption-banner.get-involved {
      -webkit-transform: translate(0%, -290%);
      -ms-transform: translate(0%, -290%);
      transform: translate(0%, -290%); } }
  @media (min-width: 1600px) {
    .wrap-caption-banner.get-involved {
      -webkit-transform: translate(0%, -260%);
      -ms-transform: translate(0%, -260%);
      transform: translate(0%, -260%); } }
  .wrap-caption-banner.get-involved h2 {
    color: #ffffff; }
  .wrap-caption-banner .container-fluid {
    padding-right: 120px;
    padding-left: 120px; }
    @media (max-width: 768px) {
      .wrap-caption-banner .container-fluid {
        padding-right: 18px;
        padding-left: 18px; } }
    @media (min-width: 800px) {
      .wrap-caption-banner .container-fluid {
        padding-right: 60px;
        padding-left: 60px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      .wrap-caption-banner .container-fluid {
        padding-right: 60px;
        padding-left: 60px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      .wrap-caption-banner .container-fluid {
        padding-right: 80px;
        padding-left: 80px; } }
    @media (min-width: 1200px) {
      .wrap-caption-banner .container-fluid {
        padding-right: 120px;
        padding-left: 120px; } }
  .wrap-caption-banner .caption-banner {
    margin-bottom: 30px; }
    @media (max-width: 768px) {
      .wrap-caption-banner .caption-banner {
        margin-top: 0rem; } }
    @media (min-width: 768px) {
      .wrap-caption-banner .caption-banner {
        margin-top: 1rem; } }
    .wrap-caption-banner .caption-banner.transform-deg {
      -webkit-transform: rotate(-4deg);
      -ms-transform: rotate(-4deg);
      transform: rotate(-4deg); }
    .wrap-caption-banner .caption-banner span {
      font-weight: 900;
      display: inline-block;
      background-color: #ffffff;
      color: #ff9e1b;
      padding: 6px 15px 6px 15px;
      margin-bottom: 3px; }
      @media (max-width: 768px) {
        .wrap-caption-banner .caption-banner span {
          font-size: 18px;
          padding: 6px 17px 6px 17px; } }
      @media (min-width: 800px) {
        .wrap-caption-banner .caption-banner span {
          font-size: 28px; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        .wrap-caption-banner .caption-banner span {
          font-size: 28px; } }
      @media (min-width: 1200px) {
        .wrap-caption-banner .caption-banner span {
          font-size: 42px; } }
    .wrap-caption-banner .caption-banner .orange {
      background-color: #ff9e1b;
      color: #ffffff; }
      .wrap-caption-banner .caption-banner .orange.link {
        padding: 0px 15px 14px 15px;
        line-height: 1;
        -moz-transition: all 0.35s;
        -o-transition: all 0.35s;
        -webkit-transition: all 0.35s;
        transition: all 0.35s; }
        .wrap-caption-banner .caption-banner .orange.link a {
          font-size: 17.67px;
          text-decoration: none;
          color: #ffffff; }
        .wrap-caption-banner .caption-banner .orange.link:hover {
          background-color: #776e64; }
        @media (max-width: 768px) {
          .wrap-caption-banner .caption-banner .orange.link {
            padding-top: 12px; } }
        @media (min-width: 1024px) {
          .wrap-caption-banner .caption-banner .orange.link {
            padding-top: 10px; } }
        @media (min-width: 1200px) {
          .wrap-caption-banner .caption-banner .orange.link {
            padding-top: 0px; } }
    .wrap-caption-banner .caption-banner p {
      font-size: 18px;
      padding-right: 50px;
      color: #ffffff; }
      @media (max-width: 768px) {
        .wrap-caption-banner .caption-banner p {
          font-size: 12px;
          padding-right: 18px;
          padding-left: 7px; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        .wrap-caption-banner .caption-banner p {
          padding-right: 10px;
          padding-left: 0px; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        .wrap-caption-banner .caption-banner p {
          padding-right: 0px; } }
    .wrap-caption-banner .caption-banner a {
      font-size: 14px; }
      @media (max-width: 768px) {
        .wrap-caption-banner .caption-banner a {
          font-size: 12px; } }
      .wrap-caption-banner .caption-banner a i {
        margin-left: 8px; }
      .wrap-caption-banner .caption-banner a:hover {
        color: #ffffff; }
        .wrap-caption-banner .caption-banner a:hover .icon.arrow-right-orange {
          -moz-transition: all 0.35s;
          -o-transition: all 0.35s;
          -webkit-transition: all 0.35s;
          transition: all 0.35s;
          margin-left: 20px; }
    .wrap-caption-banner .caption-banner.what-we-do h1,
    .wrap-caption-banner .caption-banner.what-we-do p, .wrap-caption-banner .caption-banner.who-we-are h1,
    .wrap-caption-banner .caption-banner.who-we-are p, .wrap-caption-banner .caption-banner.campaign h1,
    .wrap-caption-banner .caption-banner.campaign p, .wrap-caption-banner .caption-banner.get-involved h1,
    .wrap-caption-banner .caption-banner.get-involved p {
      color: #ffffff; }
    @media (min-width: 768px) {
      .wrap-caption-banner .caption-banner.what-we-do h1, .wrap-caption-banner .caption-banner.who-we-are h1, .wrap-caption-banner .caption-banner.campaign h1, .wrap-caption-banner .caption-banner.get-involved h1 {
        font-size: 36px; } }
    @media (min-width: 1200px) {
      .wrap-caption-banner .caption-banner.what-we-do h1, .wrap-caption-banner .caption-banner.who-we-are h1, .wrap-caption-banner .caption-banner.campaign h1, .wrap-caption-banner .caption-banner.get-involved h1 {
        font-size: 60px; } }
    @media (min-width: 768px) {
      .wrap-caption-banner .caption-banner.what-we-do p, .wrap-caption-banner .caption-banner.who-we-are p, .wrap-caption-banner .caption-banner.campaign p, .wrap-caption-banner .caption-banner.get-involved p {
        font-size: 18px;
        padding-right: 4rem; } }
    @media (min-width: 1200px) {
      .wrap-caption-banner .caption-banner.what-we-do p, .wrap-caption-banner .caption-banner.who-we-are p, .wrap-caption-banner .caption-banner.campaign p, .wrap-caption-banner .caption-banner.get-involved p {
        font-size: 30px;
        padding-right: 11rem; } }
    .wrap-caption-banner .caption-banner.what-we-do ul, .wrap-caption-banner .caption-banner.who-we-are ul, .wrap-caption-banner .caption-banner.campaign ul, .wrap-caption-banner .caption-banner.get-involved ul {
      border-left: 1px solid #ffffff; }
      @media (min-width: 768px) {
        .wrap-caption-banner .caption-banner.what-we-do ul, .wrap-caption-banner .caption-banner.who-we-are ul, .wrap-caption-banner .caption-banner.campaign ul, .wrap-caption-banner .caption-banner.get-involved ul {
          line-height: 30px;
          padding-top: 4px;
          padding-bottom: 4px;
          margin-top: 3px; } }
      @media (min-width: 1200px) {
        .wrap-caption-banner .caption-banner.what-we-do ul, .wrap-caption-banner .caption-banner.who-we-are ul, .wrap-caption-banner .caption-banner.campaign ul, .wrap-caption-banner .caption-banner.get-involved ul {
          line-height: 36px;
          padding-top: 20px;
          padding-bottom: 20px;
          margin-top: 76px; } }
      .wrap-caption-banner .caption-banner.what-we-do ul a, .wrap-caption-banner .caption-banner.who-we-are ul a, .wrap-caption-banner .caption-banner.campaign ul a, .wrap-caption-banner .caption-banner.get-involved ul a {
        font-size: 18px;
        text-transform: none; }
    .wrap-caption-banner .caption-banner.who-we-are h1 {
      margin-bottom: 2rem; }
    @media (min-width: 1280px) {
      .wrap-caption-banner .caption-banner.who-we-are p {
        padding-right: 3rem; } }
    .wrap-caption-banner .caption-banner.campaign .sub-title-caption {
      font-size: 32px;
      color: #ffffff;
      margin-bottom: 15px; }
      @media (max-width: 768px) {
        .wrap-caption-banner .caption-banner.campaign .sub-title-caption {
          font-size: 24px; } }
      @media (min-width: 768px) {
        .wrap-caption-banner .caption-banner.campaign .sub-title-caption {
          font-size: 24px; } }
      @media (min-width: 1200px) {
        .wrap-caption-banner .caption-banner.campaign .sub-title-caption {
          font-size: 32px; } }
    .wrap-caption-banner .caption-banner.campaign p {
      font-size: 18px; }
      @media (max-width: 768px) {
        .wrap-caption-banner .caption-banner.campaign p {
          font-size: 14px;
          padding-right: 0rem;
          padding-left: 0rem; } }
      @media (min-width: 768px) {
        .wrap-caption-banner .caption-banner.campaign p {
          font-size: 14px;
          padding-right: 0rem;
          padding-left: 0rem; } }
      @media (min-width: 1200px) {
        .wrap-caption-banner .caption-banner.campaign p {
          font-size: 18px;
          padding-right: 50px; } }

.bottom-shadow {
  background: url("../images/bottom-shadow.png") no-repeat;
  width: 100%;
  height: 550px;
  position: absolute;
  bottom: 0;
  background-size: cover; }
  .bottom-shadow.what-we-do, .bottom-shadow.who-we-are, .bottom-shadow.campaign, .bottom-shadow.get-involved {
    height: 100%;
    bottom: 130px;
    opacity: 0.7; }
    @media (min-width: 768px) {
      .bottom-shadow.what-we-do, .bottom-shadow.who-we-are, .bottom-shadow.campaign, .bottom-shadow.get-involved {
        bottom: -12px; } }
  @media (max-width: 768px) {
    .bottom-shadow.who-we-are {
      bottom: 17px; } }

.perspective-white {
  width: 100%;
  background: url("../images/perspective-top-2.png") no-repeat;
  height: 281px;
  position: absolute;
  background-size: cover; }
  @media (max-width: 768px) {
    .perspective-white {
      bottom: -150px; } }
  @media (min-width: 768px) {
    .perspective-white {
      bottom: -185px; } }
  @media (min-width: 1280px) {
    .perspective-white {
      bottom: -180px; } }
  @media (min-width: 1440px) {
    .perspective-white {
      bottom: -160px; } }
  .perspective-white.who-we-are {
    bottom: -180px; }
  .perspective-white.get-involved {
    bottom: -70px; }
    @media (max-width: 768px) {
      .perspective-white.get-involved {
        bottom: -184px; } }
    @media (min-width: 768px) {
      .perspective-white.get-involved {
        bottom: -156px; } }
    @media (min-width: 1024px) {
      .perspective-white.get-involved {
        bottom: -66px; } }

.banner-full-height {
  margin-top: 6em; }
  @media (max-width: 768px) {
    .banner-full-height {
      margin-top: 4em; } }
  .banner-full-height .container-fluid {
    padding-right: 120px;
    padding-left: 120px; }
    @media (max-width: 768px) {
      .banner-full-height .container-fluid {
        padding-right: 18px;
        padding-left: 18px; } }
    @media (min-width: 800px) {
      .banner-full-height .container-fluid {
        padding-right: 60px;
        padding-left: 60px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      .banner-full-height .container-fluid {
        padding-right: 60px;
        padding-left: 60px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      .banner-full-height .container-fluid {
        padding-right: 80px;
        padding-left: 80px; } }
    @media (min-width: 1200px) {
      .banner-full-height .container-fluid {
        padding-right: 120px;
        padding-left: 120px; } }
  .banner-full-height .transform-deg {
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg); }
    @media (max-width: 768px) {
      .banner-full-height .transform-deg {
        padding-top: 34px; } }
  .banner-full-height .inner-banner-full-height {
    padding-top: 3em;
    padding-bottom: 6em;
    color: #ffffff;
    position: relative;
    z-index: 1; }
    .banner-full-height .inner-banner-full-height a {
      font-size: 14px; }
      @media (max-width: 768px) {
        .banner-full-height .inner-banner-full-height a {
          font-size: 12px; } }
      .banner-full-height .inner-banner-full-height a i {
        margin-left: 8px; }
      .banner-full-height .inner-banner-full-height a:hover {
        color: #ffffff; }
    .banner-full-height .inner-banner-full-height h1 {
      font-size: 60px;
      color: #ffffff; }
      @media (max-width: 768px) {
        .banner-full-height .inner-banner-full-height h1 {
          font-size: 36px; } }
    .banner-full-height .inner-banner-full-height.what-we-do, .banner-full-height .inner-banner-full-height.who-we-are {
      padding-bottom: 10em;
      padding-top: 6em; }
      @media (max-width: 768px) {
        .banner-full-height .inner-banner-full-height.what-we-do, .banner-full-height .inner-banner-full-height.who-we-are {
          padding-bottom: 4em; } }
      .banner-full-height .inner-banner-full-height.what-we-do p, .banner-full-height .inner-banner-full-height.who-we-are p {
        font-size: 32px; }
        @media (max-width: 768px) {
          .banner-full-height .inner-banner-full-height.what-we-do p, .banner-full-height .inner-banner-full-height.who-we-are p {
            font-size: 18px; } }
      .banner-full-height .inner-banner-full-height.what-we-do ul, .banner-full-height .inner-banner-full-height.who-we-are ul {
        border-left: 1px solid #ffffff;
        list-style: none; }
        @media (min-width: 768px) {
          .banner-full-height .inner-banner-full-height.what-we-do ul, .banner-full-height .inner-banner-full-height.who-we-are ul {
            line-height: 30px;
            padding-top: 4px;
            padding-bottom: 4px;
            margin-top: 3px; } }
        @media (min-width: 1200px) {
          .banner-full-height .inner-banner-full-height.what-we-do ul, .banner-full-height .inner-banner-full-height.who-we-are ul {
            line-height: 36px;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: 76px; } }
        .banner-full-height .inner-banner-full-height.what-we-do ul a, .banner-full-height .inner-banner-full-height.who-we-are ul a {
          font-size: 18px;
          text-transform: none;
          text-decoration: none; }
          .banner-full-height .inner-banner-full-height.what-we-do ul a:hover, .banner-full-height .inner-banner-full-height.what-we-do ul a:focus, .banner-full-height .inner-banner-full-height.what-we-do ul a:active, .banner-full-height .inner-banner-full-height.who-we-are ul a:hover, .banner-full-height .inner-banner-full-height.who-we-are ul a:focus, .banner-full-height .inner-banner-full-height.who-we-are ul a:active {
            color: #ffffff; }
    .banner-full-height .inner-banner-full-height.campaign .sub-title-caption {
      font-size: 32px;
      color: #ffffff;
      margin-bottom: 15px; }
      @media (max-width: 768px) {
        .banner-full-height .inner-banner-full-height.campaign .sub-title-caption {
          font-size: 24px; } }
      @media (min-width: 768px) {
        .banner-full-height .inner-banner-full-height.campaign .sub-title-caption {
          font-size: 24px; } }
      @media (min-width: 1200px) {
        .banner-full-height .inner-banner-full-height.campaign .sub-title-caption {
          font-size: 32px; } }
    .banner-full-height .inner-banner-full-height.campaign p {
      font-size: 18px; }
      @media (max-width: 768px) {
        .banner-full-height .inner-banner-full-height.campaign p {
          font-size: 14px;
          padding-right: 0rem;
          padding-left: 0rem; } }
      @media (min-width: 768px) {
        .banner-full-height .inner-banner-full-height.campaign p {
          font-size: 14px;
          padding-right: 0rem;
          padding-left: 0rem; } }
      @media (min-width: 1200px) {
        .banner-full-height .inner-banner-full-height.campaign p {
          font-size: 18px;
          padding-right: 50px; } }
    .banner-full-height .inner-banner-full-height.get-involved {
      padding-top: 6em;
      padding-bottom: 14em; }
      @media (max-width: 768px) {
        .banner-full-height .inner-banner-full-height.get-involved {
          padding-top: 4em;
          padding-bottom: 3em; } }
      .banner-full-height .inner-banner-full-height.get-involved p,
      .banner-full-height .inner-banner-full-height.get-involved h2 {
        font-size: 32px; }
      @media (max-width: 768px) {
        .banner-full-height .inner-banner-full-height.get-involved p {
          font-size: 18px; } }
      .banner-full-height .inner-banner-full-height.get-involved h2 {
        color: #ffffff;
        margin-top: 28px;
        margin-bottom: 22px; }
    .banner-full-height .inner-banner-full-height.home {
      padding-top: 37em;
      padding-bottom: 12em; }
      @media (max-width: 768px) {
        .banner-full-height .inner-banner-full-height.home {
          padding-top: 14em;
          padding-bottom: 4em; } }
      .banner-full-height .inner-banner-full-height.home p {
        font-size: 18px; }
        @media (max-width: 768px) {
          .banner-full-height .inner-banner-full-height.home p {
            padding-top: 2rem; } }
  .banner-full-height .caption-banner span {
    font-size: 42px;
    font-weight: 900;
    display: inline-block;
    background-color: #ffffff;
    color: #ff9e1b;
    padding: 6px 15px 6px 15px;
    margin-bottom: 3px; }
    @media (max-width: 768px) {
      .banner-full-height .caption-banner span {
        font-size: 24px; } }
  .banner-full-height .caption-banner span.orange {
    background-color: #ff9e1b;
    color: #ffffff; }
  .banner-full-height .orange {
    color: #ffffff; }
    .banner-full-height .orange.link {
      background-color: #ff9e1b;
      padding: 0px 15px 14px 15px;
      line-height: 1;
      -moz-transition: all 0.35s;
      -o-transition: all 0.35s;
      -webkit-transition: all 0.35s;
      transition: all 0.35s; }
      .banner-full-height .orange.link a {
        font-size: 17.67px;
        text-decoration: none;
        color: #ffffff; }
      .banner-full-height .orange.link:hover {
        background-color: #776e64; }
      @media (max-width: 768px) {
        .banner-full-height .orange.link {
          padding-top: 12px; } }
      @media (min-width: 1024px) {
        .banner-full-height .orange.link {
          padding-top: 10px; } }
      @media (min-width: 1200px) {
        .banner-full-height .orange.link {
          padding-top: 0px; } }
  .banner-full-height .img-banner img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover; }
