@import 'mixins.scss';
@import 'plugin/all.scss';
@import 'navigation.scss';
@import 'header.scss';
@import 'home_page.scss';
@import 'media_page.scss';
@import 'resource_page.scss';
@import 'what_we_do_page.scss';
@import 'who_we_are.scss';
@import 'campaign_page.scss';
@import 'blog_page.scss';
@import 'get_involved_page.scss';
@import 'footer.scss';
@import 'donate_page.scss';

html, body {
	overflow-x: hidden;
}

body {
	font-family: museo-sans, sans-serif;
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: museo-sans, sans-serif;
	font-weight: 900;
	color: #776e64;
}

a {
	text-transform: uppercase;
	font-weight: 900;
	color: #ff9e1b;
	@include transition(all 0.35s);
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		color: #776e64;
	}
}

input,
textarea {
	font-family: museo-sans, sans-serif;
	color: #776e64;
}

ul {
	/*list-style: none;*/
}

img {
	max-width: 100%;
	height: auto;
	margin: auto;
}

i {
	font-family: museo-sans, sans-serif;
	font-style: italic;
	font-weight: 300;
}

strong {
	font-family: museo-sans, sans-serif;
	font-weight: 900;
	color: #ff9e1b;
}

.btn {
	font-family: museo-sans, sans-serif;
}

button {
	cursor: pointer;
}

section.twitter .content-twitter .img-twitter img {
	-webkit-filter: none;
    filter: none;
}

.content-twitter .img-twitter .overlay-orange {
	background-color: transparent;
}

/* Edited Get involved img */

section.get-involved .thumb-involved.thumb-involved-adj img {
		-webkit-filter: none;
    filter: none;
}
.thumb-involved.thumb-involved-adj img {
	opacity: 0;
	visibility: hidden;
	display: none;
	transition: all .3s linear;
}

.thumb-involved.thumb-involved-adj img.img-alt {
	opacity: 1;
	visibility: visible;
	display: inline-block;
}

.thumb-involved.thumb-involved-adj:hover img {
	opacity: 1;
	visibility: visible;
	display: inline-block;
}

.thumb-involved.thumb-involved-adj:hover img.img-alt {
	opacity: 0;
	visibility: hidden;
	display: none;
}

.thumb-involved.thumb-involved-adj .overlay-orange {
	background-color: transparent;
}

.thumb-involved {
	.overlay-orange {
	    background: #ff9e1b;
	    opacity: 1;
	    mix-blend-mode: multiply;
	}
}
