@import 'mixins.scss';

.bg-white {
	background-color: #ffffff;
  border-bottom: 1px solid rgba(119, 110, 100, 0.2);
}

.wrap-nav {
	.navbar-brand {
	    margin-left: 3.4rem;
      @media (max-width: 768px) {
        position: absolute;
        left: 0%;
         transform: translate(27%, -50%);
        top: 50%;
    }
    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px)  {
      left: 0%;
    }
		img {
		    width: 410px;
		    position: relative;
    		top: -4px;
        @media (max-width: 768px) {
          width: 200px;
          padding-top: 0px;
          top: 0px;
        }
		}
	}
	.icon-menu {
		width: 26px;
		height: 21px;
		display: inline-block;
		background: url("../images/icon-menu.png") no-repeat;
	}
	span.expand-menu {
	    display: block;
	    width: 90px;
	    text-align: center;
	    font-size: 28px;
      @media (max-width: 768px) {
        width: 62px;
      }
	    a {
	    	display: block;
	    	text-decoration: none;
	    	@include transition(all 0.35s);
	    }
	    &:after {
	    	content: '';
	    	background-color: #d6d3d0;
	    	width: 1px;
	    	height: 100%;
	    	position: absolute;
		    margin-left: 48px;
    	    top: 0;
    	    @include transition(all 0.35s);
	    }
	    i {
	    	color: #ff9e1b;
	    	@include transition(all 0.35s);
	    }
	    span {
	    	font-weight: 900;
	    	font-size: 13px;
	    	color: #786e62;
	    	display: block;
        text-transform: none;
	    	@include transition(all 0.35s);
	    }
	}
	span.expand-menu {
		&:hover {
			.icon-menu { 
				background: url("../images/icon-menu-hover.png") no-repeat;
			}
			span {
				color: #ff9e1b;
			}
			&:after { 
				background-color: #776e64;
			}
		}
	}
	.navbar-nav {
		.nav-item {
			&:nth-child(4) {
			    margin-left: 30px;
				margin-right: 10px;
			}
		}
		.nav-item-social {
			position: relative;
			&:nth-child(1) {
				&:before {
					content: "";
					background: url("../images/border-soc.png") no-repeat;
					width: 4px;
					height: 28px;
					position: absolute;
				    margin-left: -18px;
    				margin-top: 10px;
				}
			}
			&:nth-child(3) {
				&:after {
					content: "";
					background: url("../images/border-soc.png") no-repeat;
					width: 4px;
					height: 28px;
					position: absolute;
			       	margin-right: -18px;
				    margin-top: -42px;
				    right: 0;
				}
			}
		}
		.link-social {
			color: #776e64;
			&:hover {
				color: #a4a9a0;
			}
		}
		.link-sign-up {
			font-weight: 900;
			text-transform: uppercase;
			color: #ff9e1b !important;
			&:hover,
			&:focus,
			&:active {
				color: #776e64 !important;
			}
		}
		.nav-link {
			padding-top: 14px;
			padding-bottom: 14px;
		}
		.btn-blue {
			font-size: 16px;
		    padding: 14px 16px !important;
		}
	}
}

.cd-main-content {
  text-align: center;
}
.main-content .cd-btn {
  position: relative;
  display: inline-block;
  padding: 1em 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 50em;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.no-touch .cd-main-content .cd-btn:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
}

.cd-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  -moz-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
}
.cd-panel::after {
	content: '';
  /* overlay layer */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  -webkit-transition: background 0.3s 0.3s;
  -moz-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s;
}
.cd-panel.is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.cd-panel.is-visible::after {
	content: '';
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition: background 0.3s 0s;
  -moz-transition: background 0.3s 0s;
  transition: background 0.3s 0s;
}
.cd-panel.is-visible .cd-panel-close::before {
	content: '';
  -webkit-animation: cd-close-1 0.6s 0.3s;
  -moz-animation: cd-close-1 0.6s 0.3s;
  animation: cd-close-1 0.6s 0.3s;
}
.cd-panel.is-visible .cd-panel-close::after {
	content: '';
  -webkit-animation: cd-close-2 0.6s 0.3s;
  -moz-animation: cd-close-2 0.6s 0.3s;
  animation: cd-close-2 0.6s 0.3s;
}

@-webkit-keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@-moz-keyframes cd-close-1 {
  0%, 50% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(45deg);
  }
}
@keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@-webkit-keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
  }
}
@-moz-keyframes cd-close-2 {
  0%, 50% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(-45deg);
  }
}
@keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
.cd-panel-header {
  position: fixed;
  width: 90%;
  height: 50px;
  line-height: 50px;
  background: rgba(255, 255, 255, 0.96);
  z-index: 2;
  -webkit-transition: top 0.3s 0s;
  -moz-transition: top 0.3s 0s;
  transition: top 0.3s 0s;
}
.cd-panel-header h1 {
  font-weight: bold;
  color: #89ba2c;
  padding-left: 5%;
}
.from-right .cd-panel-header, .from-left .cd-panel-header {
  top: -50px;
}
.from-right .cd-panel-header {
  left: 0;
}
.from-left .cd-panel-header {
  left: 0;
}
.is-visible .cd-panel-header {
  top: 0;
  -webkit-transition: top 0.3s 0.3s;
  -moz-transition: top 0.3s 0.3s;
  transition: top 0.3s 0.3s;
}
@media only screen and (min-width: 768px) {
  .cd-panel-header {
    width: 30%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-panel-header {
    width: 20%;
  }
}

.cd-panel-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60px;
  /* image replacement */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.cd-panel-close::before, .cd-panel-close::after {
  /* close icon created in CSS */
  content: '';
  position: absolute;
  top: 22px;
  left: 20px;
  height: 3px;
  width: 20px;
  background-color: #ff9e1b;
  /* this fixes a bug where pseudo elements are slighty off position */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-panel-close::before {
	content: '';
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.cd-panel-close::after {
	content: '';
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.no-touch .cd-panel-close:hover {
	content: '';
	background-color: #424f5c;
}
.no-touch .cd-panel-close:hover::before, .no-touch .cd-panel-close:hover::after {
	content: '';
	background-color: #ffffff;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.no-touch .cd-panel-close:hover::before {
	content: '';
	-webkit-transform: rotate(220deg);
	-moz-transform: rotate(220deg);
	-ms-transform: rotate(220deg);
	-o-transform: rotate(220deg);
	transform: rotate(220deg);
}
.no-touch .cd-panel-close:hover::after {
	content: '';
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.cd-panel-container {
  position: fixed;
  width: 90%;
  height: 100%;
  top: 0;
  background: #ffffff;
  z-index: 1;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.from-right .cd-panel-container {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.from-left .cd-panel-container {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.is-visible .cd-panel-container {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
@media only screen and (min-width: 768px) {
  .cd-panel-container {
    width: 30%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-panel-container {
    width: 20%;
  }
}
.cd-panel-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px 35px;
  overflow: auto;
  /* smooth scrolling on touch devices */
  -webkit-overflow-scrolling: touch;
}

.cd-panel-content {
	ul.menu-expand-list {
		li {
			a {
				&:hover {
					color: #ff9e1b;
				}
			}
		}
	    padding-top: 10px;
		&.bold {
		    border-bottom: 1px solid rgba(119, 110, 100, 0.35);
    		padding-bottom: 20px;
		}
    &.social {
      padding-left: 0px;
      .nav-link  {
        padding: 0rem 0rem;
      }
      li {
        display: inline-block;
        margin-right: 20px;
      }
    }
    &.donate-sign-up {
      border-top: 1px solid rgba(119, 110, 100, 0.35);
      .link-sign-up {
        font-weight: 900;
        text-transform: uppercase;
        color: #ff9e1b !important;
        &:hover,
        &:active,
        &:focus {
          color: #776e64 !important
        } 
      }
      .btn-blue {
        padding: 14px 16px !important;
      }
      .nav-link {
        margin-top: 1rem;
        padding: 0rem 0rem;
        text-decoration: none;
      }
    }
	}
}