@import 'mixins.scss';

section.approach,
.join-action {
    // @media (max-width: 768px) {
    // 	margin-top: 0px;
    // }
    // @media (min-width: 768px) {
    // 	margin-top: 25px;
    // }
    // @media (min-width: 1024px) {
    // 	margin-top: 30px;
    // }
    // @media (min-width: 1280px) {
	   //  margin-top: 10em;
    // }
    .container-fluid {
    	padding-left: 170px;
    	padding-right: 170px;
    	@media (max-width: 768px) {
    		padding-left: 15px;
    		padding-right: 15px;
    	}
    	@media (min-width: 768px) {
		    padding-left: 60px;
    		padding-right: 60px;
    	}
    	@media (min-width: 1280px) {
			padding-left: 110px;
	    	padding-right: 110px;
    	}
    	@media (min-width: 1440px) {
			padding-left: 100px;
    		padding-right: 100px;
    	}
    }
	.content-approach,
	.content-join-action {
		h1 {
			font-size: 46px;
			margin-bottom: 2rem;
			@media (max-width: 768px) {
				font-size: 32px;
			}
		}
		p {
			font-size: 18px;
		}
		.img-approach {
           	width: 300px;
		    height: 210px;
		    overflow: hidden;
		    float: left;
		    margin-top: 6px;
		    @media (max-width: 768px) {
		    	width: 100%;
		    }
		    @media (min-width: 768px) {
		    	margin-right: 16px;
	    	    height: 100%;
		    }
		    @media (min-width: 1200px) {
		    	margin-right: 26px;
		    	height: 210px
		    }
			img {
				width: 100%;
			}
		}
		&.our-startegies,
		&.action-league {
		    border: 8px solid #64ccc9;
	      	padding: 2rem 3rem 3rem 3rem;
		    overflow: hidden;
		    @media (max-width: 768px) {
		    	margin-top: 50px;
		    }
	       	@media (min-width: 768px) {
   		    	margin: 4rem 2rem;
	       	}
	       	@media (min-width: 1200px) {
	       		margin: -38px 2rem;
	       	}
			h1 {
				font-size: 32px;
			    margin-bottom: 14px;
			}
			.subtitle {
				font-size: 18px;
				display: block;
			}
			ol {
			   list-style: none;
			   padding-left: 0px;
				li {
					counter-increment: item;
					margin-bottom: 58px;
					overflow: hidden;
					margin-top: 30px;
					span {
						float: left;
						width: 85%;
						font-size: 18px;
						font-weight: 900;
						color: #776e64;
						@media (max-width: 768px) {
						    width: 60%;
						}
						@media only screen 
						and (min-device-width : 375px) 
						and (max-device-width : 667px) 
						and (orientation : portrait) {
							width: 72%;
						}
						@media only screen 
						and (min-device-width : 414px) 
						and (max-device-width : 736px) 
						and (orientation : portrait) { 
							width: 76%;
						}
						@media (min-width: 1024px) {
						    width: 74%;
						}
						@media (min-width: 1280px) {
							width: 75%;
						}
						@media (min-width: 1440px) {
							width: 84%;
						}
					}
					&:before {
						font-size: 32px;
						font-weight: 900;
					    margin-right: 16px;
						content: counter(item);
						background-color: #64ccc9;
						@include border-radius(100%);
						color: #ffffff;
						text-align: center;
						float: left;
						width: 48px;
					}
				}
			}
			&:before {
			    content: '';
			    position: absolute;
			    background-color: #ffffff;
			    max-width: 368px;
			    height: 50px;
    			right: 0;
			    left: 50%;
			    transform: translate(-50%, -50%);
			    @media (max-width: 768px) {
	    	    	transform: translate(-50%, -120%);
			    }
			    @media (min-width: 768px) {
    	    	    top: 104px;
			    }
			    @media (min-width: 1024px) {
			    	top: 66px;
			    }
			    @media (min-width: 1200px) {
		        	top: -34px;
			    }
			}
			&:after {
			    content: '';
			    position: absolute;
			    background-color: #ffffff;
			    max-width: 368px;
			    height: 50px;
    			right: 0;
			    left: 50%;
			    transform: translate(-50%, -50%);
			    @media (max-width: 768px) {
			    	transform: translate(-50%, 50%);
			    }
			    @media (min-width: 768px) {
	    	    	bottom: 68px;
			    }
			    @media (min-width: 1024px) {
			    	bottom: 20px;
			    }
			     @media (min-width: 1200px) {
			    	bottom: -80px;
			    }
			}
		}
		&.our-theory,
		&.putting-startegy,
		&.relationships {
			h1 {
				font-size: 32px;
			    margin-top: 50px;
			}
		}
		&.putting-startegy.list {
			background-color: #776e64;
			padding: 3rem 3rem 2rem 3rem;
			p {
				color: #ffffff;
				span {
					font-weight: 900;
				}
			}
			ol {
				list-style: none;
				padding-left: 0px;
			    line-height: 33px;
				li {
					list-style: none;
					color: #ffffff;
					span {
				        float: left;
				        @media (max-width: 768px) {
				    	    width: 90%;
    						padding-right: 0rem;
					    }
					    @media (min-width: 768px) {
				    	    width: 90%;
    						padding-right: 0rem;
					    }
					    @media only screen 
						and (min-device-width : 375px) 
						and (max-device-width : 667px) 
						and (orientation : portrait) {
							width: 90%;
						}
					    @media (min-width: 1024px) {
				    	    width: 95%;
    						padding-right: 5rem;
					    }
					    @media (min-width: 1400px) {
						    width: 95%;
						    padding-right: 10rem;
					    }
					}
					&:before {
    					float: left;
						content: '';
						background-color: #ff9e1b;
						@include border-radius(100%);
						display: inline-block;
						width: 8px;
    					height: 8px;
    					position: relative;
    					margin-right: 10px;
					    margin-top: 13px;
					}
				}
			}
		}
		&.relationships { 
			span {
				font-weight: 900;
				color: #776e64;
			}
		}
	}
}


section.approach {
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 292px;
		background: url("../images/perspective-top-2.png") no-repeat;
		background-size: cover;
		margin-top: -115px;
	}
}

.inner-approach {
	position: relative;
	background-color: #ffffff;
	padding-top: 50px;
}

section.campiagns {
	background-color: #ff9e1b;
	position: relative;
	padding: 4rem;
    margin-top: 3rem;
	overflow: hidden;
	@media (max-width: 768px) {
    	padding: 2rem;
	}
	&:before {
		content: '';
		background: url("../images/img-brust.png") no-repeat;
		width: 100%;
		height: 1050px;
		position: absolute;
	    left: 0;
	    background-size: contain;
	    right: 0;
	    top: 16%;
	    @media (max-width: 768px) {
    	    height: 15%;
    	    top: inherit;
		    left: 0%;
		    right: 0;
		    bottom: 0;
	    }
	}
	.media {
		color: #ffffff;
		margin-bottom: 3.8rem;
		@media (max-width: 768px) {
			display: block;
		}
	}
	.media-body {
		font-size: 18px;
	    margin-top: 36px;
	    span {
	    	font-weight: 900;
	    }
	}
	.link-learn-more {
		font-size: 14px;
		display: block;
		color: #ffffff;
		margin-top: 30px;
		&:hover {
	    	color: #776e64;
		}
	}
	.grid-thumb-campiagns {
	    text-align: center;
        position: relative;
        margin-right: 70px;
        @media (max-width: 768px) {
        	margin: 0;
        }
    	img {
		    width: 203px;
		    height: 202px;
		    object-fit: cover;
		    @media (min-width: 768px) {
		    	width: 200px;
				height: 200px;
		    }
		    @media (min-width: 1024px) {
		    	width: 140px;
				height: 140px;
		    }
		    @media (min-width: 1200px) {
	    	    width: 175px;
				height: 175px;
		    }
		    @media (min-width: 1280px) {
	    	    width: 173px;
				height: 173px;
		    }
		    @media (min-width: 1440px) {
		    	width: 203px;
			    height: 202px;
		    }
    	}
    	.text-thumb {
    		text-transform: uppercase;
    		letter-spacing: 2.5px;
    		font-weight: 900;
    		position: absolute;
    		width: 100%;
    		height: 202px;
    		@media (min-width: 768px) {
    			font-size: 18px;
    			height: 173px;
    		}
    		@media (min-width: 1280px) {
    			font-size: 16px;
    			height: 173px;
    		}
    		@media (min-width: 1600px) {
    			font-size: 18px;
    		}
    		span {
    			display: block;
			    line-height: 13rem;
			    color: #ffffff;
			    @media (min-width: 1024px) {
	    	    	line-height: 9rem;
			    }
			    @media (min-width: 1200px) {
	    	    	line-height: 11rem;
			    }
			    @media (min-width: 1280px) {
	    	    	line-height: 11rem;
			    }
			    @media (min-width: 1440px) {
			    	line-height: 13rem;
			    }
    		}
    	}
    }
}

section.featured-victory {
	margin-bottom: 4rem;
	.content-featured-victory {
		h1 {
			font-size: 46px;
		    color: #776e64;
		}
		h2 {
			font-size: 32px;
			color: #ff9e1b;
		    margin-top: 26px;
    		padding-right: 4px;
		}
		p {
		    padding-right: 8px;
		    margin-top: 16px;
		}
		&.desc {
			padding-top: 0rem;
			@media (min-width: 1440px) {
		    	padding-right: 4rem;
			}
		}
	}
	.img-featured-victory {
		img {
			width: 94%;
		}
	}
}

section.shame-nominees {
	&.cooperate {
		@media (min-width: 768px) {
	    	min-height: 680px;
		}
		.content-cooperate {
		    margin-top: 4rem;
			color: #ffffff;
			h1 {
				font-size: 46px;
				color: #ffffff;
			}
		}
		&:after {
			content: '';
			background: none;
			display: none;
		}
	}
}

section.past-winner {
	background-color: #776e64;
    padding-top: 2em;
    padding-bottom: 8em;
    @media (min-width: 768px) {
    	min-height: 470px;
    }
    &:after {
	    height: 220px;
	    background-size: cover;
	    bottom: -6rem;
    }
	h1 {
		font-size: 32px;
		color: #ffffff;
	}
	.img-past-winner,
	.text-past-winner {
		float: left;
		position: relative;
	}
	.img-past-winner {
		margin-top: 42px;
		@media (max-width: 768px) {
			width: 100%;
		}
		@media (min-width: 768px) {
			width: 100%;
		}
		@media (min-width: 1024px) {
			width: 30%;
		}
		@media (min-width: 1200px) {
			width: 30%;
		}
	}
	.text-past-winner {
		font-size: 16px;
		color: #ffffff;
		padding: 2rem;
		@media (max-width: 768px) {
			width: 100%;
		}
		@media (min-width: 768px) {
			width: 100%;
		}
		@media (min-width: 1024px) {
			width: 70%;
		}
		@media (min-width: 1200px) {
			width: 70%;
		}
	}
}

.one-slider-vote,
.responsive-take-action {
	margin-top: 0em;
 	@media (min-width: 768px) {
		margin-left: 50px;
		margin-right: 50px;
 	}
 	@media (min-width: 1200px) {
	    margin-left: 130px;
 		margin-right: 130px;
 	}
 	.slick-slide {
		padding-top: 0px;
 	}
 	.slick-prev {
 		&:hover {
 			background: url("../images/arrow-slider-left.png") no-repeat;
 			opacity: 0.8;
 		}
 	}
 	.slick-next {
 		&:hover {
 			background: url("../images/arrow-slider-right.png") no-repeat;
 			opacity: 0.8;
 		}
 	}
}

.responsive-take-action {
 	@media (min-width: 768px) {
		margin-left: 0px;
		margin-right: 0px;
 	}
 	@media (min-width: 1200px) {
	    margin-left: 0px;
 		margin-right: 0px;
 	}
}