.btn-blue {
  background-color: #64ccc9;
  border-color: #64ccc9;
  color: #ffffff !important;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  font-weight: 900;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }
  .btn-blue:hover, .btn-blue:active, .btn-blue:focus {
    background-color: #57b1ae !important;
    border-color: #57b1ae !important;
    color: #ffffff !important; }

.btn-orange {
  background-color: #ff9e1b;
  border-color: #ff9e1b;
  color: #ffffff !important;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  font-weight: 900;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }
  .btn-orange:hover, .btn-orange:active, .btn-orange:focus {
    background-color: #776e64 !important;
    border-color: #776e64 !important;
    color: #ffffff !important; }

.btn-black {
  background-color: #776e64;
  border-color: #776e64;
  color: #ffffff !important;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  font-weight: 900;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }
  .btn-black:hover, .btn-black:active, .btn-black:focus {
    background-color: #514b44 !important;
    border-color: #514b44 !important;
    color: #ffffff !important; }

.badge-dark-blue {
  font-size: 14px;
  padding: 7px 10px 4px 10px;
  background-color: #878cb4;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }
  .badge-dark-blue:hover {
    background-color: #6a6e8d; }

.wrap-vertical-align {
  display: table;
  width: 100%;
  height: 100%; }
  .wrap-vertical-align .vertical-align {
    display: table-cell;
    width: 100%;
    height: 100%; }

.vertical-align.middle {
  text-align: center;
  vertical-align: middle; }

.no-pad-right {
  padding-right: 0px; }

.no-pad-left {
  padding-left: 0px; }

.multiply-orange {
  background-color: #ff9e1b;
  background-blend-mode: multiply; }

input[type="text"],
input[type="email"],
input[type="number"],
textarea.form-control {
  border: 1px solid #979797; }

.icon {
  width: 12px;
  height: 10px;
  display: inline-block; }
  .icon.arrow-right-orange {
    background: url("../images/icon-arrow-right-orange.png") no-repeat;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    transition: all 0.35s; }
  .icon.arrow-right-white {
    background: url("../images/icon-arrow-right-white.png") no-repeat;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    transition: all 0.35s; }
  .icon.arrow-down-orange {
    background: url("../images/icon-arrow-down-orange.png") no-repeat;
    height: 12px;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    transition: all 0.35s; }
  .icon.retweet {
    background: url("../images/icon-retweet.png") no-repeat;
    width: 20px;
    height: 13px;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    transition: all 0.35s; }
  .icon.thumb-down {
    background: url("../images/icon-thum-down.png") no-repeat;
    width: 37px;
    height: 30px; }

.wrap-search {
  margin-top: 4rem; }
  .wrap-search .search {
    background-color: #878cb4;
    padding: 1.3rem 0rem 1.3rem 0rem; }
    @media (max-width: 768px) {
      .wrap-search .search .nav {
        display: block; } }
    .wrap-search .search .nav .nav-link {
      padding: 0.3em 1em;
      border: 1px solid transparent; }
      .wrap-search .search .nav .nav-link:hover, .wrap-search .search .nav .nav-link:focus, .wrap-search .search .nav .nav-link:active {
        background-color: rgba(255, 255, 255, 0.28);
        border: 1px solid #ffffff; }
    .wrap-search .search .nav .active {
      background-color: rgba(255, 255, 255, 0.28);
      border: 1px solid #ffffff; }
    .wrap-search .search .nav span {
      text-transform: uppercase !important;
      line-height: 30px; }
    .wrap-search .search .nav li > a,
    .wrap-search .search .nav span {
      font-size: 14px;
      text-transform: none;
      color: #ffffff; }
    .wrap-search .search .nav li {
      margin-right: 24px; }
      @media (max-width: 768px) {
        .wrap-search .search .nav li {
          margin-right: 10px;
          margin-left: 10px; } }
      .wrap-search .search .nav li:last-child {
        margin-right: 0px; }
  .wrap-search .search-result {
    border-left: 1px solid #d6d3d0;
    border-right: 1px solid #d6d3d0;
    border-bottom: 1px solid #d6d3d0;
    padding: 3rem 1rem 3rem 1rem; }
    @media (max-width: 768px) {
      .wrap-search .search-result {
        padding: 1rem 0rem 1rem 0rem; } }
    @media (max-width: 768px) {
      .wrap-search .search-result .nav {
        display: block; } }
    .wrap-search .search-result .nav li {
      margin-right: 40px; }
      @media (max-width: 768px) {
        .wrap-search .search-result .nav li {
          margin-right: 10px;
          margin-left: 10px; } }
      .wrap-search .search-result .nav li:last-child {
        margin-right: 0px; }
    @media (max-width: 768px) {
      .wrap-search .search-result.img {
        overflow: hidden; } }
    .wrap-search .search-result.img .nav li {
      margin-right: 18px; }
      @media (max-width: 768px) {
        .wrap-search .search-result.img .nav li {
          overflow: hidden;
          margin-bottom: 20px; } }
      @media (min-width: 1024px) {
        .wrap-search .search-result.img .nav li {
          margin-right: 60px; } }
      @media (min-width: 1200px) {
        .wrap-search .search-result.img .nav li {
          margin-right: 38px; } }
      .wrap-search .search-result.img .nav li:last-child {
        margin-right: 0px; }
    .wrap-search .search-result.img span.img,
    .wrap-search .search-result.img span.name {
      float: left; }
      @media (min-width: 1024px) {
        .wrap-search .search-result.img span.img,
        .wrap-search .search-result.img span.name {
          float: none; } }
      @media (min-width: 1200px) {
        .wrap-search .search-result.img span.img,
        .wrap-search .search-result.img span.name {
          float: left; } }
    .wrap-search .search-result.img span.img {
      width: 70px;
      height: 70px;
      overflow: hidden;
      display: inline-block;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
      @media (min-width: 1024px) {
        .wrap-search .search-result.img span.img {
          text-align: center;
          display: block;
          margin: 0 auto; } }
      .wrap-search .search-result.img span.img img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
    .wrap-search .search-result.img span.name {
      line-height: 70px;
      display: inline-block;
      margin-left: 18px; }
      @media (min-width: 1024px) {
        .wrap-search .search-result.img span.name {
          text-align: center;
          margin-left: 0px;
          display: block; } }
      @media (min-width: 1200px) {
        .wrap-search .search-result.img span.name {
          margin-left: 11px; } }

.author {
  font-size: 14px;
  color: #776e64; }

section.approach,
.join-action {
  margin-top: -70px; }
  @media (max-width: 768px) {
    section.approach,
    .join-action {
      margin-top: 0px; } }
  @media (min-width: 768px) {
    section.approach,
    .join-action {
      margin-top: 25px; } }
  @media (min-width: 1024px) {
    section.approach,
    .join-action {
      margin-top: 30px; } }
  @media (min-width: 1280px) {
    section.approach,
    .join-action {
      /*margin-top: 48px;*/
      margin-top: 22em; } }
  section.approach .container-fluid,
  .join-action .container-fluid {
    padding-left: 170px;
    padding-right: 170px; }
    @media (max-width: 768px) {
      section.approach .container-fluid,
      .join-action .container-fluid {
        padding-left: 15px;
        padding-right: 15px; } }
    @media (min-width: 768px) {
      section.approach .container-fluid,
      .join-action .container-fluid {
        padding-left: 60px;
        padding-right: 60px; } }
    @media (min-width: 1280px) {
      section.approach .container-fluid,
      .join-action .container-fluid {
        padding-left: 110px;
        padding-right: 110px; } }
    @media (min-width: 1440px) {
      section.approach .container-fluid,
      .join-action .container-fluid {
        padding-left: 100px;
        padding-right: 100px; } }
  section.approach .content-approach h1,
  section.approach .content-join-action h1,
  .join-action .content-approach h1,
  .join-action .content-join-action h1 {
    font-size: 46px;
    margin-bottom: 2rem; }
  section.approach .content-approach p,
  section.approach .content-join-action p,
  .join-action .content-approach p,
  .join-action .content-join-action p {
    font-size: 18px; }
  section.approach .content-approach .img-approach,
  section.approach .content-join-action .img-approach,
  .join-action .content-approach .img-approach,
  .join-action .content-join-action .img-approach {
    width: 300px;
    height: 210px;
    overflow: hidden;
    float: left;
    margin-top: 6px; }
    @media (max-width: 768px) {
      section.approach .content-approach .img-approach,
      section.approach .content-join-action .img-approach,
      .join-action .content-approach .img-approach,
      .join-action .content-join-action .img-approach {
        width: 100%; } }
    @media (min-width: 768px) {
      section.approach .content-approach .img-approach,
      section.approach .content-join-action .img-approach,
      .join-action .content-approach .img-approach,
      .join-action .content-join-action .img-approach {
        margin-right: 16px;
        height: 100%; } }
    @media (min-width: 1200px) {
      section.approach .content-approach .img-approach,
      section.approach .content-join-action .img-approach,
      .join-action .content-approach .img-approach,
      .join-action .content-join-action .img-approach {
        margin-right: 26px;
        height: 210px; } }
    section.approach .content-approach .img-approach img,
    section.approach .content-join-action .img-approach img,
    .join-action .content-approach .img-approach img,
    .join-action .content-join-action .img-approach img {
      width: 100%; }
  section.approach .content-approach.our-startegies, section.approach .content-approach.action-league,
  section.approach .content-join-action.our-startegies,
  section.approach .content-join-action.action-league,
  .join-action .content-approach.our-startegies,
  .join-action .content-approach.action-league,
  .join-action .content-join-action.our-startegies,
  .join-action .content-join-action.action-league {
    border: 8px solid #64ccc9;
    padding: 2rem 3rem 3rem 3rem;
    overflow: hidden; }
    @media (max-width: 768px) {
      section.approach .content-approach.our-startegies, section.approach .content-approach.action-league,
      section.approach .content-join-action.our-startegies,
      section.approach .content-join-action.action-league,
      .join-action .content-approach.our-startegies,
      .join-action .content-approach.action-league,
      .join-action .content-join-action.our-startegies,
      .join-action .content-join-action.action-league {
        margin-top: 50px; } }
    @media (min-width: 768px) {
      section.approach .content-approach.our-startegies, section.approach .content-approach.action-league,
      section.approach .content-join-action.our-startegies,
      section.approach .content-join-action.action-league,
      .join-action .content-approach.our-startegies,
      .join-action .content-approach.action-league,
      .join-action .content-join-action.our-startegies,
      .join-action .content-join-action.action-league {
        margin: 4rem 2rem; } }
    @media (min-width: 1200px) {
      section.approach .content-approach.our-startegies, section.approach .content-approach.action-league,
      section.approach .content-join-action.our-startegies,
      section.approach .content-join-action.action-league,
      .join-action .content-approach.our-startegies,
      .join-action .content-approach.action-league,
      .join-action .content-join-action.our-startegies,
      .join-action .content-join-action.action-league {
        margin: -38px 2rem; } }
    section.approach .content-approach.our-startegies h1, section.approach .content-approach.action-league h1,
    section.approach .content-join-action.our-startegies h1,
    section.approach .content-join-action.action-league h1,
    .join-action .content-approach.our-startegies h1,
    .join-action .content-approach.action-league h1,
    .join-action .content-join-action.our-startegies h1,
    .join-action .content-join-action.action-league h1 {
      font-size: 32px;
      margin-bottom: 14px; }
    section.approach .content-approach.our-startegies .subtitle, section.approach .content-approach.action-league .subtitle,
    section.approach .content-join-action.our-startegies .subtitle,
    section.approach .content-join-action.action-league .subtitle,
    .join-action .content-approach.our-startegies .subtitle,
    .join-action .content-approach.action-league .subtitle,
    .join-action .content-join-action.our-startegies .subtitle,
    .join-action .content-join-action.action-league .subtitle {
      font-size: 18px;
      display: block; }
    section.approach .content-approach.our-startegies ol, section.approach .content-approach.action-league ol,
    section.approach .content-join-action.our-startegies ol,
    section.approach .content-join-action.action-league ol,
    .join-action .content-approach.our-startegies ol,
    .join-action .content-approach.action-league ol,
    .join-action .content-join-action.our-startegies ol,
    .join-action .content-join-action.action-league ol {
      list-style: none;
      padding-left: 0px; }
      section.approach .content-approach.our-startegies ol li, section.approach .content-approach.action-league ol li,
      section.approach .content-join-action.our-startegies ol li,
      section.approach .content-join-action.action-league ol li,
      .join-action .content-approach.our-startegies ol li,
      .join-action .content-approach.action-league ol li,
      .join-action .content-join-action.our-startegies ol li,
      .join-action .content-join-action.action-league ol li {
        counter-increment: item;
        margin-bottom: 58px;
        overflow: hidden;
        margin-top: 30px; }
        section.approach .content-approach.our-startegies ol li span, section.approach .content-approach.action-league ol li span,
        section.approach .content-join-action.our-startegies ol li span,
        section.approach .content-join-action.action-league ol li span,
        .join-action .content-approach.our-startegies ol li span,
        .join-action .content-approach.action-league ol li span,
        .join-action .content-join-action.our-startegies ol li span,
        .join-action .content-join-action.action-league ol li span {
          float: left;
          width: 85%;
          font-size: 18px;
          font-weight: 900;
          color: #776e64; }
          @media (max-width: 768px) {
            section.approach .content-approach.our-startegies ol li span, section.approach .content-approach.action-league ol li span,
            section.approach .content-join-action.our-startegies ol li span,
            section.approach .content-join-action.action-league ol li span,
            .join-action .content-approach.our-startegies ol li span,
            .join-action .content-approach.action-league ol li span,
            .join-action .content-join-action.our-startegies ol li span,
            .join-action .content-join-action.action-league ol li span {
              width: 60%; } }
          @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
            section.approach .content-approach.our-startegies ol li span, section.approach .content-approach.action-league ol li span,
            section.approach .content-join-action.our-startegies ol li span,
            section.approach .content-join-action.action-league ol li span,
            .join-action .content-approach.our-startegies ol li span,
            .join-action .content-approach.action-league ol li span,
            .join-action .content-join-action.our-startegies ol li span,
            .join-action .content-join-action.action-league ol li span {
              width: 72%; } }
          @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
            section.approach .content-approach.our-startegies ol li span, section.approach .content-approach.action-league ol li span,
            section.approach .content-join-action.our-startegies ol li span,
            section.approach .content-join-action.action-league ol li span,
            .join-action .content-approach.our-startegies ol li span,
            .join-action .content-approach.action-league ol li span,
            .join-action .content-join-action.our-startegies ol li span,
            .join-action .content-join-action.action-league ol li span {
              width: 76%; } }
          @media (min-width: 1024px) {
            section.approach .content-approach.our-startegies ol li span, section.approach .content-approach.action-league ol li span,
            section.approach .content-join-action.our-startegies ol li span,
            section.approach .content-join-action.action-league ol li span,
            .join-action .content-approach.our-startegies ol li span,
            .join-action .content-approach.action-league ol li span,
            .join-action .content-join-action.our-startegies ol li span,
            .join-action .content-join-action.action-league ol li span {
              width: 74%; } }
          @media (min-width: 1280px) {
            section.approach .content-approach.our-startegies ol li span, section.approach .content-approach.action-league ol li span,
            section.approach .content-join-action.our-startegies ol li span,
            section.approach .content-join-action.action-league ol li span,
            .join-action .content-approach.our-startegies ol li span,
            .join-action .content-approach.action-league ol li span,
            .join-action .content-join-action.our-startegies ol li span,
            .join-action .content-join-action.action-league ol li span {
              width: 75%; } }
          @media (min-width: 1440px) {
            section.approach .content-approach.our-startegies ol li span, section.approach .content-approach.action-league ol li span,
            section.approach .content-join-action.our-startegies ol li span,
            section.approach .content-join-action.action-league ol li span,
            .join-action .content-approach.our-startegies ol li span,
            .join-action .content-approach.action-league ol li span,
            .join-action .content-join-action.our-startegies ol li span,
            .join-action .content-join-action.action-league ol li span {
              width: 84%; } }
        section.approach .content-approach.our-startegies ol li:before, section.approach .content-approach.action-league ol li:before,
        section.approach .content-join-action.our-startegies ol li:before,
        section.approach .content-join-action.action-league ol li:before,
        .join-action .content-approach.our-startegies ol li:before,
        .join-action .content-approach.action-league ol li:before,
        .join-action .content-join-action.our-startegies ol li:before,
        .join-action .content-join-action.action-league ol li:before {
          font-size: 32px;
          font-weight: 900;
          margin-right: 16px;
          content: counter(item);
          background-color: #64ccc9;
          -moz-border-radius: 100%;
          -webkit-border-radius: 100%;
          -ms-border-radius: 100%;
          border-radius: 100%;
          color: #ffffff;
          text-align: center;
          float: left;
          width: 48px; }
    section.approach .content-approach.our-startegies:before, section.approach .content-approach.action-league:before,
    section.approach .content-join-action.our-startegies:before,
    section.approach .content-join-action.action-league:before,
    .join-action .content-approach.our-startegies:before,
    .join-action .content-approach.action-league:before,
    .join-action .content-join-action.our-startegies:before,
    .join-action .content-join-action.action-league:before {
      content: '';
      position: absolute;
      background-color: #ffffff;
      max-width: 368px;
      height: 50px;
      right: 0;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      @media (max-width: 768px) {
        section.approach .content-approach.our-startegies:before, section.approach .content-approach.action-league:before,
        section.approach .content-join-action.our-startegies:before,
        section.approach .content-join-action.action-league:before,
        .join-action .content-approach.our-startegies:before,
        .join-action .content-approach.action-league:before,
        .join-action .content-join-action.our-startegies:before,
        .join-action .content-join-action.action-league:before {
          -webkit-transform: translate(-50%, -120%);
          -ms-transform: translate(-50%, -120%);
          transform: translate(-50%, -120%); } }
      @media (min-width: 768px) {
        section.approach .content-approach.our-startegies:before, section.approach .content-approach.action-league:before,
        section.approach .content-join-action.our-startegies:before,
        section.approach .content-join-action.action-league:before,
        .join-action .content-approach.our-startegies:before,
        .join-action .content-approach.action-league:before,
        .join-action .content-join-action.our-startegies:before,
        .join-action .content-join-action.action-league:before {
          top: 104px; } }
      @media (min-width: 1024px) {
        section.approach .content-approach.our-startegies:before, section.approach .content-approach.action-league:before,
        section.approach .content-join-action.our-startegies:before,
        section.approach .content-join-action.action-league:before,
        .join-action .content-approach.our-startegies:before,
        .join-action .content-approach.action-league:before,
        .join-action .content-join-action.our-startegies:before,
        .join-action .content-join-action.action-league:before {
          top: 66px; } }
      @media (min-width: 1200px) {
        section.approach .content-approach.our-startegies:before, section.approach .content-approach.action-league:before,
        section.approach .content-join-action.our-startegies:before,
        section.approach .content-join-action.action-league:before,
        .join-action .content-approach.our-startegies:before,
        .join-action .content-approach.action-league:before,
        .join-action .content-join-action.our-startegies:before,
        .join-action .content-join-action.action-league:before {
          top: -34px; } }
    section.approach .content-approach.our-startegies:after, section.approach .content-approach.action-league:after,
    section.approach .content-join-action.our-startegies:after,
    section.approach .content-join-action.action-league:after,
    .join-action .content-approach.our-startegies:after,
    .join-action .content-approach.action-league:after,
    .join-action .content-join-action.our-startegies:after,
    .join-action .content-join-action.action-league:after {
      content: '';
      position: absolute;
      background-color: #ffffff;
      max-width: 368px;
      height: 50px;
      right: 0;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      @media (max-width: 768px) {
        section.approach .content-approach.our-startegies:after, section.approach .content-approach.action-league:after,
        section.approach .content-join-action.our-startegies:after,
        section.approach .content-join-action.action-league:after,
        .join-action .content-approach.our-startegies:after,
        .join-action .content-approach.action-league:after,
        .join-action .content-join-action.our-startegies:after,
        .join-action .content-join-action.action-league:after {
          -webkit-transform: translate(-50%, 50%);
          -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%); } }
      @media (min-width: 768px) {
        section.approach .content-approach.our-startegies:after, section.approach .content-approach.action-league:after,
        section.approach .content-join-action.our-startegies:after,
        section.approach .content-join-action.action-league:after,
        .join-action .content-approach.our-startegies:after,
        .join-action .content-approach.action-league:after,
        .join-action .content-join-action.our-startegies:after,
        .join-action .content-join-action.action-league:after {
          bottom: 68px; } }
      @media (min-width: 1024px) {
        section.approach .content-approach.our-startegies:after, section.approach .content-approach.action-league:after,
        section.approach .content-join-action.our-startegies:after,
        section.approach .content-join-action.action-league:after,
        .join-action .content-approach.our-startegies:after,
        .join-action .content-approach.action-league:after,
        .join-action .content-join-action.our-startegies:after,
        .join-action .content-join-action.action-league:after {
          bottom: 20px; } }
      @media (min-width: 1200px) {
        section.approach .content-approach.our-startegies:after, section.approach .content-approach.action-league:after,
        section.approach .content-join-action.our-startegies:after,
        section.approach .content-join-action.action-league:after,
        .join-action .content-approach.our-startegies:after,
        .join-action .content-approach.action-league:after,
        .join-action .content-join-action.our-startegies:after,
        .join-action .content-join-action.action-league:after {
          bottom: -80px; } }
  section.approach .content-approach.our-theory h1, section.approach .content-approach.putting-startegy h1, section.approach .content-approach.relationships h1,
  section.approach .content-join-action.our-theory h1,
  section.approach .content-join-action.putting-startegy h1,
  section.approach .content-join-action.relationships h1,
  .join-action .content-approach.our-theory h1,
  .join-action .content-approach.putting-startegy h1,
  .join-action .content-approach.relationships h1,
  .join-action .content-join-action.our-theory h1,
  .join-action .content-join-action.putting-startegy h1,
  .join-action .content-join-action.relationships h1 {
    font-size: 32px;
    margin-top: 50px; }
  section.approach .content-approach.putting-startegy.list,
  section.approach .content-join-action.putting-startegy.list,
  .join-action .content-approach.putting-startegy.list,
  .join-action .content-join-action.putting-startegy.list {
    background-color: #776e64;
    padding: 3rem 3rem 2rem 3rem; }
    section.approach .content-approach.putting-startegy.list p,
    section.approach .content-join-action.putting-startegy.list p,
    .join-action .content-approach.putting-startegy.list p,
    .join-action .content-join-action.putting-startegy.list p {
      color: #ffffff; }
      section.approach .content-approach.putting-startegy.list p span,
      section.approach .content-join-action.putting-startegy.list p span,
      .join-action .content-approach.putting-startegy.list p span,
      .join-action .content-join-action.putting-startegy.list p span {
        font-weight: 900; }
    section.approach .content-approach.putting-startegy.list ol,
    section.approach .content-join-action.putting-startegy.list ol,
    .join-action .content-approach.putting-startegy.list ol,
    .join-action .content-join-action.putting-startegy.list ol {
      list-style: none;
      padding-left: 0px;
      line-height: 33px; }
      section.approach .content-approach.putting-startegy.list ol li,
      section.approach .content-join-action.putting-startegy.list ol li,
      .join-action .content-approach.putting-startegy.list ol li,
      .join-action .content-join-action.putting-startegy.list ol li {
        list-style: none;
        color: #ffffff; }
        section.approach .content-approach.putting-startegy.list ol li span,
        section.approach .content-join-action.putting-startegy.list ol li span,
        .join-action .content-approach.putting-startegy.list ol li span,
        .join-action .content-join-action.putting-startegy.list ol li span {
          float: left; }
          @media (max-width: 768px) {
            section.approach .content-approach.putting-startegy.list ol li span,
            section.approach .content-join-action.putting-startegy.list ol li span,
            .join-action .content-approach.putting-startegy.list ol li span,
            .join-action .content-join-action.putting-startegy.list ol li span {
              width: 90%;
              padding-right: 0rem; } }
          @media (min-width: 768px) {
            section.approach .content-approach.putting-startegy.list ol li span,
            section.approach .content-join-action.putting-startegy.list ol li span,
            .join-action .content-approach.putting-startegy.list ol li span,
            .join-action .content-join-action.putting-startegy.list ol li span {
              width: 90%;
              padding-right: 0rem; } }
          @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
            section.approach .content-approach.putting-startegy.list ol li span,
            section.approach .content-join-action.putting-startegy.list ol li span,
            .join-action .content-approach.putting-startegy.list ol li span,
            .join-action .content-join-action.putting-startegy.list ol li span {
              width: 90%; } }
          @media (min-width: 1024px) {
            section.approach .content-approach.putting-startegy.list ol li span,
            section.approach .content-join-action.putting-startegy.list ol li span,
            .join-action .content-approach.putting-startegy.list ol li span,
            .join-action .content-join-action.putting-startegy.list ol li span {
              width: 95%;
              padding-right: 5rem; } }
          @media (min-width: 1400px) {
            section.approach .content-approach.putting-startegy.list ol li span,
            section.approach .content-join-action.putting-startegy.list ol li span,
            .join-action .content-approach.putting-startegy.list ol li span,
            .join-action .content-join-action.putting-startegy.list ol li span {
              width: 95%;
              padding-right: 10rem; } }
        section.approach .content-approach.putting-startegy.list ol li:before,
        section.approach .content-join-action.putting-startegy.list ol li:before,
        .join-action .content-approach.putting-startegy.list ol li:before,
        .join-action .content-join-action.putting-startegy.list ol li:before {
          float: left;
          content: '';
          background-color: #ff9e1b;
          -moz-border-radius: 100%;
          -webkit-border-radius: 100%;
          -ms-border-radius: 100%;
          border-radius: 100%;
          display: inline-block;
          width: 8px;
          height: 8px;
          position: relative;
          margin-right: 10px;
          margin-top: 13px; }
  section.approach .content-approach.relationships span,
  section.approach .content-join-action.relationships span,
  .join-action .content-approach.relationships span,
  .join-action .content-join-action.relationships span {
    font-weight: 900;
    color: #776e64; }

.inner-approach {
  position: relative; }
  .inner-approach:before {
    content: '';
    width: 100%;
    background: url("../images/perspective-top-2.png") no-repeat;
    height: 281px;
    position: absolute;
    background-size: cover; }
    @media (max-width: 768px) {
      .inner-approach:before {
        bottom: -150px; } }
    @media (min-width: 768px) {
      .inner-approach:before {
        bottom: -185px; } }
    @media (min-width: 1280px) {
      .inner-approach:before {
        bottom: -180px; } }
    @media (min-width: 1440px) {
      .inner-approach:before {
        bottom: 19em; } }
    .inner-approach:before.who-we-are {
      bottom: -180px; }
    .inner-approach:before.get-involved {
      bottom: -70px; }
      @media (max-width: 768px) {
        .inner-approach:before.get-involved {
          bottom: -184px; } }
      @media (min-width: 768px) {
        .inner-approach:before.get-involved {
          bottom: -156px; } }
      @media (min-width: 1024px) {
        .inner-approach:before.get-involved {
          bottom: -66px; } }

section.campiagns {
  background-color: #ff9e1b;
  position: relative;
  padding: 4rem;
  margin-top: 3rem;
  overflow: hidden; }
  @media (max-width: 768px) {
    section.campiagns {
      padding: 2rem; } }
  section.campiagns:before {
    content: '';
    background: url("../images/img-brust.png") no-repeat;
    width: 100%;
    height: 1050px;
    position: absolute;
    left: 0;
    background-size: contain;
    right: 0;
    top: 16%; }
    @media (max-width: 768px) {
      section.campiagns:before {
        height: 15%;
        top: inherit;
        left: 0%;
        right: 0;
        bottom: 0; } }
  section.campiagns .media {
    color: #ffffff;
    margin-bottom: 3.8rem; }
    @media (max-width: 768px) {
      section.campiagns .media {
        display: block; } }
  section.campiagns .media-body {
    font-size: 18px;
    margin-top: 36px; }
    section.campiagns .media-body span {
      font-weight: 900; }
  section.campiagns .link-learn-more {
    font-size: 14px;
    display: block;
    color: #ffffff;
    margin-top: 30px; }
    section.campiagns .link-learn-more:hover {
      color: #776e64; }
  section.campiagns .grid-thumb-campiagns {
    text-align: center;
    position: relative;
    margin-right: 70px; }
    @media (max-width: 768px) {
      section.campiagns .grid-thumb-campiagns {
        margin: 0; } }
    section.campiagns .grid-thumb-campiagns img {
      width: 203px;
      height: 202px;
      -o-object-fit: cover;
      object-fit: cover; }
      @media (min-width: 768px) {
        section.campiagns .grid-thumb-campiagns img {
          width: 200px;
          height: 200px; } }
      @media (min-width: 1024px) {
        section.campiagns .grid-thumb-campiagns img {
          width: 140px;
          height: 140px; } }
      @media (min-width: 1200px) {
        section.campiagns .grid-thumb-campiagns img {
          width: 175px;
          height: 175px; } }
      @media (min-width: 1280px) {
        section.campiagns .grid-thumb-campiagns img {
          width: 173px;
          height: 173px; } }
      @media (min-width: 1440px) {
        section.campiagns .grid-thumb-campiagns img {
          width: 203px;
          height: 202px; } }
    section.campiagns .grid-thumb-campiagns .text-thumb {
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-weight: 900;
      position: absolute;
      width: 100%;
      height: 202px; }
      @media (min-width: 768px) {
        section.campiagns .grid-thumb-campiagns .text-thumb {
          font-size: 18px;
          height: 173px; } }
      @media (min-width: 1280px) {
        section.campiagns .grid-thumb-campiagns .text-thumb {
          font-size: 16px;
          height: 173px; } }
      @media (min-width: 1600px) {
        section.campiagns .grid-thumb-campiagns .text-thumb {
          font-size: 18px; } }
      section.campiagns .grid-thumb-campiagns .text-thumb span {
        display: block;
        line-height: 13rem;
        color: #ffffff; }
        @media (min-width: 1024px) {
          section.campiagns .grid-thumb-campiagns .text-thumb span {
            line-height: 9rem; } }
        @media (min-width: 1200px) {
          section.campiagns .grid-thumb-campiagns .text-thumb span {
            line-height: 11rem; } }
        @media (min-width: 1280px) {
          section.campiagns .grid-thumb-campiagns .text-thumb span {
            line-height: 11rem; } }
        @media (min-width: 1440px) {
          section.campiagns .grid-thumb-campiagns .text-thumb span {
            line-height: 13rem; } }

section.featured-victory {
  margin-bottom: 4rem; }
  section.featured-victory .content-featured-victory h1 {
    font-size: 46px;
    color: #776e64; }
  section.featured-victory .content-featured-victory h2 {
    font-size: 32px;
    color: #ff9e1b;
    margin-top: 26px;
    padding-right: 4px; }
  section.featured-victory .content-featured-victory p {
    padding-right: 8px;
    margin-top: 16px; }
  section.featured-victory .content-featured-victory.desc {
    padding-top: 0rem; }
    @media (min-width: 1440px) {
      section.featured-victory .content-featured-victory.desc {
        padding-right: 4rem; } }
  section.featured-victory .img-featured-victory img {
    width: 94%; }

@media (min-width: 768px) {
  section.shame-nominees.cooperate {
    min-height: 680px; } }

section.shame-nominees.cooperate .content-cooperate {
  margin-top: 4rem;
  color: #ffffff; }
  section.shame-nominees.cooperate .content-cooperate h1 {
    font-size: 46px;
    color: #ffffff; }

section.shame-nominees.cooperate:after {
  content: '';
  background: none;
  display: none; }

section.past-winner {
  background-color: #776e64;
  padding-top: 2em;
  padding-bottom: 8em; }
  @media (min-width: 768px) {
    section.past-winner {
      min-height: 470px; } }
  section.past-winner:after {
    height: 220px;
    background-size: cover;
    bottom: -6rem; }
  section.past-winner h1 {
    font-size: 32px;
    color: #ffffff; }
  section.past-winner .img-past-winner,
  section.past-winner .text-past-winner {
    float: left;
    position: relative; }
  section.past-winner .img-past-winner {
    margin-top: 42px; }
    @media (max-width: 768px) {
      section.past-winner .img-past-winner {
        width: 100%; } }
    @media (min-width: 768px) {
      section.past-winner .img-past-winner {
        width: 100%; } }
    @media (min-width: 1024px) {
      section.past-winner .img-past-winner {
        width: 30%; } }
    @media (min-width: 1200px) {
      section.past-winner .img-past-winner {
        width: 30%; } }
  section.past-winner .text-past-winner {
    font-size: 16px;
    color: #ffffff;
    padding: 2rem; }
    @media (max-width: 768px) {
      section.past-winner .text-past-winner {
        width: 100%; } }
    @media (min-width: 768px) {
      section.past-winner .text-past-winner {
        width: 100%; } }
    @media (min-width: 1024px) {
      section.past-winner .text-past-winner {
        width: 70%; } }
    @media (min-width: 1200px) {
      section.past-winner .text-past-winner {
        width: 70%; } }

.one-slider-vote,
.responsive-take-action {
  margin-top: 0em; }
  @media (min-width: 768px) {
    .one-slider-vote,
    .responsive-take-action {
      margin-left: 50px;
      margin-right: 50px; } }
  @media (min-width: 1200px) {
    .one-slider-vote,
    .responsive-take-action {
      margin-left: 130px;
      margin-right: 130px; } }
  .one-slider-vote .slick-slide,
  .responsive-take-action .slick-slide {
    padding-top: 0px; }
  .one-slider-vote .slick-prev:hover,
  .responsive-take-action .slick-prev:hover {
    background: url("../images/arrow-slider-left.png") no-repeat;
    opacity: 0.8; }
  .one-slider-vote .slick-next:hover,
  .responsive-take-action .slick-next:hover {
    background: url("../images/arrow-slider-right.png") no-repeat;
    opacity: 0.8; }

@media (min-width: 768px) {
  .responsive-take-action {
    margin-left: 0px;
    margin-right: 0px; } }

@media (min-width: 1200px) {
  .responsive-take-action {
    margin-left: 0px;
    margin-right: 0px; } }
