.wrap-banner-page {
	margin-top: 80px;
	position: relative;
	overflow: hidden;
	img {
		object-fit: cover;
		width: 100%;
	}
	.wrap-container {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		z-index: 1;
		.inner-container {
			padding: 100px 0;
		}
		h1 {
			color: #ffffff;
			font-size: 2.5rem;
			margin-bottom: 1.5rem;
		}
		p {
			color: #ffffff;
			font-size: 1.625rem;
			margin-bottom: 1.5rem;
		}
		a {
			font-size: .75rem;
			&:hover {
				color: #ffffff;
			}
		}
	}
	.bottom-shadow {
		background : rgba(0,0,0,.4);
		height: 100%;
	}
}
.wrap-who-page {
	img {
		height: 485px;
	}
	.wrap-container {
		.inner-container {
			max-width: 610px;
		}
	}
}
.bg-rotate {
	position: relative;
	&:before {
		content: "";
		width: calc(100% + 10px);
		background: #ffffff;
		height: 130px;
		position: absolute;
		background-size: cover;
		-webkit-transform: rotate(-4deg);
		-ms-transform: rotate(-4deg);
		transform: rotate(-4deg);
		top: -45px;
	}
}
.who-list {
	padding: 90px 0 60px;
	background-color: #ffffff;
	.inner-who {
		display: block;
		margin-bottom: 30px;
		p {
			text-transform: none;
			color: #776e64;
			font-weight: 300;
		}
		img {
			@include transition(all 0.35s);
		}
		.top-who {
			position: relative;
			span {
				position: absolute;
				bottom: 0;
				background-color: #ff9e1b;
				color: #ffffff;
				text-transform: none;
				width: 50%;
				padding: .6rem;
				text-align: center;
				@include transition(all 0.35s);
			}
		}
		&:hover {
			img {
				opacity: .8;
			}
			.top-who {
				span {
					background-color: #776e64;
				}
			}
		}
	}
}
.our-values {
	background: url('../images/burst-background.png')left top no-repeat;
	border-bottom: 1px solid #d6d3d0;
	background-size: 1200px;
	padding: 30px 0 100px;
	margin: 0 auto 110px;
	max-width: 1400px;
	.container {

	}
	.row {
		margin-left: 0;
		margin-right: 0;
		border-bottom: 1px solid #b7dd79;
		padding: 50px 0;
		&:last-child {
			border-bottom: 0;
		}
		h3 {
			float: left;
			width: 60%;
			font-size: 1.625rem;
			padding-right: 15%;
			margin: 0;
			&.dark-turquoise {
				color: #64ccc9;
			}
			&.dark-state-blue {
				color: #878cb4;
			}
			&.lime-green {
				color: #b7dd79;
			}
			&.dark-orange {
				color: #ff9e1b;
			}
			&.dom-gray {
				color: #776e64;
			}
		}
		p {
			float: left;
			width: 40%;
			margin: 0;
		}
	}
}

@media (min-width: 1400px) {
	.bg-rotate {
		&:before {
			top: -50px;
		}
	}
}
@media (min-width: 1600px) {
	.bg-rotate {
		&:before {
			top: -68px;
		}
	}
}

@media (max-width: 1400px) {
	.our-values {
		background-position-x: -40px;
	}	
}
@media (max-width: 1199px) {
	.our-values {
		.row {
			h3 {
				padding-right: 10%;
			}
		}
	}
}

@media (max-width: 991px) {
	.our-values {
		.row {
			h3 {
				padding-right: 5%;
			}
		}
	}
}

@media (max-width: 767px) {
	.wrap-who-page {
		.wrap-container {
			.inner-container {
				padding: 75px 0;
			}
		}
	}
	.our-values {
		background: none;
		.row {
			h3 {
				width: 100%;
				padding-right: 0%;
				margin-bottom: 15px;
			}
			p {
				width: 100%;
			}
		}
	}
}
@media (max-width: 575px) {
	.wrap-who-page {
		img {
			height: 375px;
		}
		.wrap-container {
			.inner-container {
				padding: 45px 0;
			}
			h1 {
				font-size: 2rem;
			}
			p {
				font-size: 1.1rem;
			}
			a {
				font-size: .6rem;
			}
		}
	}
	.who-list {
		padding: 40px 0 10px;
	}
	.our-values {
		padding-bottom: 35px;
		margin-bottom: 60px;
		.row {
			padding: 30px 0;
		}
	}
}

